<div class="filter-wrapper container-wrapper">

    <section ng-show="filterTrigger">
        <div class="form-wrapper" ng-hide="isPhone || isActive('compare')">
            <div class="form-wrapper-inside">
                <h4>Uporządkowanie</h4>
                <form>
                    <div class="form-cell">
                        <div ng-click="laySwitch('podstawowa')">
                            <input id="option1" type="radio" ng-model="layoutSwitch" value="podstawowa" name="layoutGroup1">
                            <label for="option1">w&nbsp;grupach i&nbsp;okresach</label>
                        </div>
                        <div ng-click="laySwitch('dluga')">
                            <input id="option2" type="radio" ng-model="layoutSwitch" value="dluga" name="layoutGroup1">
                            <label for="option2">forma długa</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="form-wrapper" ng-hide="isActive('compare')">
            <div class="form-wrapper-inside">
                <h4>Pokaż</h4>
                <form>
                    <div class="form-cell">
                        <div ng-click="showSwitch('amass')">
                            <input id="option5" type="radio" ng-model="tileSwitch" value="amass" name="radioGroup1">
                            <label for="option5">masa atomowa</label>               
                        </div>
                        <div ng-click="showSwitch('eleval')">
                            <input id="option8" type="radio" ng-model="tileSwitch" value="eleval" name="radioGroup1">
                            <label for="option8">elektrony walencyjne</label>
                        </div>
                        <div ng-click="showSwitch('valence')">
                            <input id="option9" type="radio" ng-model="tileSwitch" value="valence" name="radioGroup1">
                            <label for="option9">wartościowość</label>
                        </div>
                    </div>
                    <div class="form-cell">
                        <div ng-click="showSwitch('electronegativity')">
                            <input id="option10" type="radio" ng-model="tileSwitch" value="electronegativity" name="radioGroup1">
                            <label for="option10">elektroujemność</label>
                        </div>
                        <div ng-click="showSwitch('izomass')">
                            <input id="option7" type="radio" ng-model="tileSwitch" value="izomass" name="radioGroup1">
                            <label for="option7">liczby masowe występujących<br />w&nbsp;przyrodzie izotopów</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="form-wrapper">
            <div class="form-wrapper-inside last">
                <h4>Wyróżnij</h4>
                <div class="form-cell">
                    <div>
                        <input id="checkbox-5" type="checkbox" ng-model="isGrupa" ng-disabled="isMetal" ng-click="checkSwitch('isGrupa')">
                        <label for="checkbox-5">grupa</label>
                    </div>
                    <div>
                        <input id="checkbox-6" type="checkbox" ng-model="isOkres" ng-disabled="isMetal" ng-click="checkSwitch('isOkres')">
                        <label for="checkbox-6">okres</label>
                    </div>
                    <div>
                        <input id="checkbox-8" type="checkbox" ng-model="isState" ng-click="checkSwitch('isState')">
                        <label for="checkbox-8">stan skupienia</label>
                    </div>
                </div>
                <div class="form-cell">
                    <div>
                        <input id="checkbox-7" type="checkbox" ng-model="isMetal" ng-disabled="isBlok || isGrupa || isOkres" ng-click="checkSwitch('isMetal')">
                        <label for="checkbox-7">metale/niemetale</label>
                    </div>
                    <div>
                        <input id="checkbox-9" type="checkbox" ng-model="isRoyal" ng-click="checkSwitch('isRoyal')">
                        <label for="checkbox-9">gazy szlachetne</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-wrapper-clear"></div>
    </section>

    <div class="legend-container-wrapper" ng-show="(isState || isMetal || isRoyal || isBlok) && isPhone">

        <div class="legend-cell-container" ng-show="isMetal">
            <div class="legend-cell">
                <div class="legend-wrapper isNotMetal">&shy;</div>
                <div class="legend-caption">metale</div>
            </div>
            <div class="legend-cell">
                <div class="legend-wrapper isMetal">&shy;</div>
                <div class="legend-caption">niemetale</div>
            </div>
        </div>
        <div class="legend-cell-container" ng-show="isBlok">
            <div class="legend-cell">
                <div class="legend-wrapper blokS">&shy;</div>
                <div class="legend-caption">blok <em>s</em></div>
            </div>
            <div class="legend-cell">
                <div class="legend-wrapper blokP">&shy;</div>
                <div class="legend-caption">blok <em>p</em></div>
            </div>
        </div>
        <div class="legend-cell-container" ng-show="isBlok">
            <div class="legend-cell">
                <div class="legend-wrapper blokD">&shy;</div>
                <div class="legend-caption">blok <em>d</em></div>
            </div>
            <div class="legend-cell">
                <div class="legend-wrapper blokF">&shy;</div>
                <div class="legend-caption">blok <em>f</em></div>
            </div>
        </div>
        <div class="legend-cell-container" ng-show="isState">
            <div class="legend-cell">
                <div class="legend-wrapper liquid-wrapper">&shy;</div>
                <div class="legend-caption">ciecze</div>
            </div>
            <div class="legend-cell">
                <div class="legend-wrapper gas-wrapper">&shy;</div>
                <div class="legend-caption">gazy</div>
            </div>
        </div>
        <div class="legend-cell-container" ng-show="isRoyal">
            <div class="legend-cell">
                <div class="legend-wrapper royal-wrapper">&shy;</div>
                <div class="legend-caption">gazy szlachetne</div>
            </div>
        </div>

        <div class="form-wrapper-clear"></div>

    </div>
    <div class="form-wrapper-clear"></div>
</div>