<div class="svg-container" ng-if="shellDistribution != null">
	<svg class="my-svg" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 288 320">
		<defs>
	   		<filter id="f1">
	     		<feGaussianBlur stdDeviation="4" />
	    	</filter>
	    	<radialGradient id="grad1" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
		      <stop offset="0%" style="stop-color:rgb(165,217,237);stop-opacity:1" />
		      <stop offset="40%" style="stop-color:rgb(85,196,233);stop-opacity:1" />
		      <stop offset="100%" style="stop-color:rgb(0,149,218);stop-opacity:1" />
		    </radialGradient>
		    <radialGradient id="grad2" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
		      <stop offset="0%" style="stop-color:#fed6ab;stop-opacity:1" />
		      <stop offset="40%" style="stop-color:#f63939;stop-opacity:1" />
		      <stop offset="100%" style="stop-color:#983131;stop-opacity:1" />
		    </radialGradient>
		    <radialGradient id="grad3" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
		      <stop offset="0%" style="stop-color:#efefef;stop-opacity:1" />
		      <stop offset="40%" style="stop-color:#c2c2c2;stop-opacity:1" />
		      <stop offset="100%" style="stop-color:#8a8a8a;stop-opacity:1" />
		    </radialGradient>
	  	</defs>
		<g ng-if="currId == 0" class="core">
			<circle cx="144" cy="144" r="5" fill="url(#grad2)" />
		</g>
		<g ng-if="currId == 1" class="core">
			<circle cx="140" cy="144" r="5" fill="url(#grad2)" />
			<circle cx="142" cy="140" r="5" fill="url(#grad3)" />
			<circle cx="144" cy="146" r="5" fill="url(#grad3)" />
			<circle cx="146" cy="142" r="5" fill="url(#grad2)" />
		</g>
		<g ng-if="currId > 1">
			<g class="core" ng-repeat="neutrons in protons track by $index">
				<circle ng-init="offsetN = getOffset(currId)" ng-cx="{{144 + offsetN[0]}}" ng-cy="{{144 + offsetN[1]}}" r="5" fill="url(#grad3)" />
				<circle ng-init="offsetP = getOffset(currId)" ng-cx="{{144 + offsetP[0]}}" ng-cy="{{144 + offsetP[1]}}" r="5" fill="url(#grad2)" />
			</g>
		</g>
		<g class="shell" ng-repeat="shells in shellDistribution">
			<circle class="doNotPrint" cx="144" cy="144" ng-r="{{35 + 17*$index}}" fill-opacity="0.0" stroke="#b1dcf0" stroke-width="3" filter="url(#f1)" />
			<circle class="onlyPrint" cx="144" cy="144" ng-r="{{35 + 17*$index}}" fill-opacity="0.0" stroke="#75cfe7" stroke-width="2" />
			<circle ng-repeat="elektrons in electronsNo(shells.index) track by $index" ng-cy="{{109-17*$parent.$index}}" cx="144" r="5" ng-transform='rotate({{360/shells.index * $index}} 144 144)' fill="url(#grad1)" />
		</g>
		<g ng-if="isActive('details')" class="doNotPrint">
			<circle cx="5" cy="310" r="5" fill="url(#grad3)" /><text x="15" y="314" font-size="18">neutrony</text>
			<circle cx="110" cy="310" r="5" fill="url(#grad2)" /><text x="120" y="314" font-size="18">protony</text>
			<circle cx="202" cy="310" r="5" fill="url(#grad1)" /><text x="212" y="314" font-size="18">elektrony</text>
		</g>
	</svg>
</div>