<section>
    <div class="zoom-wrapper">
        <div class="row-wrapper">
            <div class="compare-group-wrapper">{{(tilesData[selectedId].grupa | num) || ""}}</div>
            <div class="elem-wrapper">
                <div class="tile-wrapper" ng-class="{isSelected: selectedId != null}">
                    <div>
                        <span class="royal-wrapper" ng-show="tilesData[selectedId].royal">&shy;</span>
                    </div>
                    <div>
                        <span class="liquid-wrapper" ng-show="tilesData[selectedId].state == 'ciecz'">&shy;</span>
                        <span class="gas-wrapper" ng-show="tilesData[selectedId].state == 'gaz'">&shy;</span>
                    </div>
                    <div class="symbol-num-wrapper">
                        <span class="atom-num-wrapper">{{tilesData[selectedId].a_number}}</span>
                        <span class="symbol-wrapper">{{tilesData[selectedId].symbol}}</span>
                    </div>
                    <div>
                        <div class="name-wrapper">{{tilesData[selectedId].name}}</div>
                        <div class="atom-mass-wrapper">{{tilesData[selectedId].a_mass}}</div>
                    </div>
                </div>
                <div class="compare-okres-wrapper">{{tilesData[selectedId].okres}}</div>
            </div>
            <div class="searchBox-wrapper close-button" ng-mobile-click="closeTile()" ng-show="isinUse">
                <div class="search-wrapper-text">{{tilesData[selectedId].name}}</div>
                <div class="search-icon-container"><div class="icon-sheet iconClose"></div></div>
            </div>
            <div class="searchBox-wrapper" ng-show="!isinUse">
                <input type="text" ng-model="searchBox" ng-change="selectedItem = 0" ng-blur="closeList()" ng-mobile-click="openList();" ng-mousedown="openList();" placeholder="Szukaj..." maxlength="10" arrow-selector>
                <div class="search-icon-container"><div class="icon-sheet search-icon"></div></div>
                <ol class="dropdown-list" ng-if="listTrigger">
                    <li ng-repeat="tile in tilesData | filter: compareSearch" 
                        ng-mobile-click="selectElement(tile.a_number - 1)" 
                        ng-mousedown="selectElement(tile.a_number - 1)" 
                        ng-class="{alreadyTaken: firstId == tile.a_number - 1 || secondId == tile.a_number - 1 || thirdId == tile.a_number - 1 || fourthId == tile.a_number - 1, 
                                    currHighlighted: $index == selectedItem}">
                        <div class="table">
                            <div class="row">
                                <div class="cell symbol">{{tile.symbol}}</div>
                                <div class="cell">{{tile.name}}</div>
                            </div>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>