<div class="preview-wrapper">
	<div class="table">
        <div class="row">
            <div class="cell"></div>
            <div class="ne_P_grupa cell">1</div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="ne_P_grupa cell">18</div>
        </div>
        <div class="row">
            <div class="ne_P_okres cell">1</div>
            <div class="cell" data-id="0" compare-tile-preview></div>
            <div class="ne_P_grupa cell">2</div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="ne_P_grupa cell">13</div>
            <div class="ne_P_grupa cell">14</div>
            <div class="ne_P_grupa cell">15</div>
            <div class="ne_P_grupa cell">16</div>
            <div class="ne_P_grupa cell">17</div>
            <div class="cell" data-id="1" compare-tile-preview></div>
        </div>
        <div class="row">
            <div class="ne_P_okres cell">2</div>
            <div class="cell" data-id="2" compare-tile-preview></div>
            <div class="cell" data-id="3" compare-tile-preview></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell" data-id="4" compare-tile-preview></div>
            <div class="cell" data-id="5" compare-tile-preview></div>
            <div class="cell" data-id="6" compare-tile-preview></div>
            <div class="cell" data-id="7" compare-tile-preview></div>
            <div class="cell" data-id="8" compare-tile-preview></div>
            <div class="cell" data-id="9" compare-tile-preview></div>
        </div>
        <div class="row">
            <div class="ne_P_okres cell">3</div>
            <div class="cell" data-id="10" compare-tile-preview></div>
            <div class="cell" data-id="11" compare-tile-preview></div>
            <div class="ne_P_grupa cell">3</div>
            <div class="ne_P_grupa cell">4</div>
            <div class="ne_P_grupa cell">5</div>
            <div class="ne_P_grupa cell">6</div>
            <div class="ne_P_grupa cell">7</div>
            <div class="ne_P_grupa cell">8</div>
            <div class="ne_P_grupa cell">9</div>
            <div class="ne_P_grupa cell">10</div>
            <div class="ne_P_grupa cell">11</div>
            <div class="ne_P_grupa cell">12</div>
            <div class="cell" data-id="12" compare-tile-preview></div>
            <div class="cell" data-id="13" compare-tile-preview></div>
            <div class="cell" data-id="14" compare-tile-preview></div>
            <div class="cell" data-id="15" compare-tile-preview></div>
            <div class="cell" data-id="16" compare-tile-preview></div>
            <div class="cell" data-id="17" compare-tile-preview></div>
        </div>
        <div class="row">
            <div class="ne_P_okres cell">4</div>
            <div class="cell" data-id="18" compare-tile-preview></div>
            <div class="cell" data-id="19" compare-tile-preview></div>
            <div class="cell" data-id="20" compare-tile-preview></div>
            <div class="cell" data-id="21" compare-tile-preview></div>
            <div class="cell" data-id="22" compare-tile-preview></div>
            <div class="cell" data-id="23" compare-tile-preview></div>
            <div class="cell" data-id="24" compare-tile-preview></div>
            <div class="cell" data-id="25" compare-tile-preview></div>
            <div class="cell" data-id="26" compare-tile-preview></div>
            <div class="cell" data-id="27" compare-tile-preview></div>
            <div class="cell" data-id="28" compare-tile-preview></div>
            <div class="cell" data-id="29" compare-tile-preview></div>
            <div class="cell" data-id="30" compare-tile-preview></div>
            <div class="cell" data-id="31" compare-tile-preview></div>
            <div class="cell" data-id="32" compare-tile-preview></div>
            <div class="cell" data-id="33" compare-tile-preview></div>
            <div class="cell" data-id="34" compare-tile-preview></div>
            <div class="cell" data-id="35" compare-tile-preview></div>
        </div>
        <div class="row">
            <div class="ne_P_okres cell">5</div>
            <div class="cell" data-id="36" compare-tile-preview></div>
            <div class="cell" data-id="37" compare-tile-preview></div>
            <div class="cell" data-id="38" compare-tile-preview></div>
            <div class="cell" data-id="39" compare-tile-preview></div>
            <div class="cell" data-id="40" compare-tile-preview></div>
            <div class="cell" data-id="41" compare-tile-preview></div>
            <div class="cell" data-id="42" compare-tile-preview></div>
            <div class="cell" data-id="43" compare-tile-preview></div>
            <div class="cell" data-id="44" compare-tile-preview></div>
            <div class="cell" data-id="45" compare-tile-preview></div>
            <div class="cell" data-id="46" compare-tile-preview></div>
            <div class="cell" data-id="47" compare-tile-preview></div>
            <div class="cell" data-id="48" compare-tile-preview></div>
            <div class="cell" data-id="49" compare-tile-preview></div>
            <div class="cell" data-id="50" compare-tile-preview></div>
            <div class="cell" data-id="51" compare-tile-preview></div>
            <div class="cell" data-id="52" compare-tile-preview></div>
            <div class="cell" data-id="53" compare-tile-preview></div>
        </div>
        <div class="row">
            <div class="ne_P_okres cell">6</div>
            <div class="cell" data-id="54" compare-tile-preview></div>
            <div class="cell" data-id="55" compare-tile-preview></div>
            <div class="cell" data-id="56" compare-tile-preview></div>
            <div class="cell" data-id="71" compare-tile-preview></div>
            <div class="cell" data-id="72" compare-tile-preview></div>
            <div class="cell" data-id="73" compare-tile-preview></div>
            <div class="cell" data-id="74" compare-tile-preview></div>
            <div class="cell" data-id="75" compare-tile-preview></div>
            <div class="cell" data-id="76" compare-tile-preview></div>
            <div class="cell" data-id="77" compare-tile-preview></div>
            <div class="cell" data-id="78" compare-tile-preview></div>
            <div class="cell" data-id="79" compare-tile-preview></div>
            <div class="cell" data-id="80" compare-tile-preview></div>
            <div class="cell" data-id="81" compare-tile-preview></div>
            <div class="cell" data-id="82" compare-tile-preview></div>
            <div class="cell" data-id="83" compare-tile-preview></div>
            <div class="cell" data-id="84" compare-tile-preview></div>
            <div class="cell" data-id="85" compare-tile-preview></div>
        </div>
        <div class="row">
            <div class="ne_P_okres cell">7</div>
            <div class="cell" data-id="86" compare-tile-preview></div>
            <div class="cell" data-id="87" compare-tile-preview></div>
            <div class="cell" data-id="88" compare-tile-preview></div>
            <div class="cell" data-id="103" compare-tile-preview></div>
            <div class="cell" data-id="104" compare-tile-preview></div>
            <div class="cell" data-id="105" compare-tile-preview></div>
            <div class="cell" data-id="106" compare-tile-preview></div>
            <div class="cell" data-id="107" compare-tile-preview></div>
            <div class="cell" data-id="108" compare-tile-preview></div>
            <div class="cell" data-id="109" compare-tile-preview></div>
            <div class="cell" data-id="110" compare-tile-preview></div>
            <div class="cell" data-id="111" compare-tile-preview></div>
            <div class="cell" data-id="112" compare-tile-preview></div>
            <div class="cell" data-id="113" compare-tile-preview></div>
            <div class="cell" data-id="114" compare-tile-preview></div>
            <div class="cell" data-id="115" compare-tile-preview></div>
            <div class="cell" data-id="116" compare-tile-preview></div>
            <div class="cell" data-id="117" compare-tile-preview></div>
        </div>
        <div class="row">
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
        </div>
        <div class="row">
        	<div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell" data-id="57" compare-tile-preview></div>
            <div class="cell" data-id="58" compare-tile-preview></div>
            <div class="cell" data-id="59" compare-tile-preview></div>
            <div class="cell" data-id="60" compare-tile-preview></div>
            <div class="cell" data-id="61" compare-tile-preview></div>
            <div class="cell" data-id="62" compare-tile-preview></div>
            <div class="cell" data-id="63" compare-tile-preview></div>
            <div class="cell" data-id="64" compare-tile-preview></div>
            <div class="cell" data-id="65" compare-tile-preview></div>
            <div class="cell" data-id="66" compare-tile-preview></div>
            <div class="cell" data-id="67" compare-tile-preview></div>
            <div class="cell" data-id="68" compare-tile-preview></div>
            <div class="cell" data-id="69" compare-tile-preview></div>
            <div class="cell" data-id="70" compare-tile-preview></div>
        </div>
        <div class="row">
        	<div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell" data-id="89" compare-tile-preview></div>
            <div class="cell" data-id="90" compare-tile-preview></div>
            <div class="cell" data-id="91" compare-tile-preview></div>
            <div class="cell" data-id="92" compare-tile-preview></div>
            <div class="cell" data-id="93" compare-tile-preview></div>
            <div class="cell" data-id="94" compare-tile-preview></div>
            <div class="cell" data-id="95" compare-tile-preview></div>
            <div class="cell" data-id="96" compare-tile-preview></div>
            <div class="cell" data-id="97" compare-tile-preview></div>
            <div class="cell" data-id="98" compare-tile-preview></div>
            <div class="cell" data-id="99" compare-tile-preview></div>
            <div class="cell" data-id="100" compare-tile-preview></div>
            <div class="cell" data-id="101" compare-tile-preview></div>
            <div class="cell" data-id="102" compare-tile-preview></div>
        </div>
    </div>
</div>