<div class="tile-preview"
	 ng-class="{isFirstId: firstId == id,
	 			isSecondId: secondId == id,
	 			isThirdId: thirdId == id,
	 			isFourthId: fourthId == id
				}"
	>
	<div class="tile-preview-symbol onlyPrint" ng-show="firstId == id || secondId == id || thirdId == id || fourthId == id">{{tilesData[id].symbol}}</div>
</div>