<div class="preview-wrapper">
	<div class="table">
        <div class="row">
            <div class="cell"></div>
            <div class="ne_P_grupa cell">1</div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="ne_P_grupa cell">18</div>
        </div>
        <div class="row">
            <div class="ne_P_okres cell">1</div>
            <div class="cell" data-id="0" tile-preview></div>
            <div class="ne_P_grupa cell">2</div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="ne_P_grupa cell">13</div>
            <div class="ne_P_grupa cell">14</div>
            <div class="ne_P_grupa cell">15</div>
            <div class="ne_P_grupa cell">16</div>
            <div class="ne_P_grupa cell">17</div>
            <div class="cell" data-id="1" tile-preview></div>
        </div>
        <div class="row">
            <div class="ne_P_okres cell">2</div>
            <div class="cell" data-id="2" tile-preview></div>
            <div class="cell" data-id="3" tile-preview></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell" data-id="4" tile-preview></div>
            <div class="cell" data-id="5" tile-preview></div>
            <div class="cell" data-id="6" tile-preview></div>
            <div class="cell" data-id="7" tile-preview></div>
            <div class="cell" data-id="8" tile-preview></div>
            <div class="cell" data-id="9" tile-preview></div>
        </div>
        <div class="row">
            <div class="ne_P_okres cell">3</div>
            <div class="cell" data-id="10" tile-preview></div>
            <div class="cell" data-id="11" tile-preview></div>
            <div class="ne_P_grupa cell">3</div>
            <div class="ne_P_grupa cell">4</div>
            <div class="ne_P_grupa cell">5</div>
            <div class="ne_P_grupa cell">6</div>
            <div class="ne_P_grupa cell">7</div>
            <div class="ne_P_grupa cell">8</div>
            <div class="ne_P_grupa cell">9</div>
            <div class="ne_P_grupa cell">10</div>
            <div class="ne_P_grupa cell">11</div>
            <div class="ne_P_grupa cell">12</div>
            <div class="cell" data-id="12" tile-preview></div>
            <div class="cell" data-id="13" tile-preview></div>
            <div class="cell" data-id="14" tile-preview></div>
            <div class="cell" data-id="15" tile-preview></div>
            <div class="cell" data-id="16" tile-preview></div>
            <div class="cell" data-id="17" tile-preview></div>
        </div>
        <div class="row">
            <div class="ne_P_okres cell">4</div>
            <div class="cell" data-id="18" tile-preview></div>
            <div class="cell" data-id="19" tile-preview></div>
            <div class="cell" data-id="20" tile-preview></div>
            <div class="cell" data-id="21" tile-preview></div>
            <div class="cell" data-id="22" tile-preview></div>
            <div class="cell" data-id="23" tile-preview></div>
            <div class="cell" data-id="24" tile-preview></div>
            <div class="cell" data-id="25" tile-preview></div>
            <div class="cell" data-id="26" tile-preview></div>
            <div class="cell" data-id="27" tile-preview></div>
            <div class="cell" data-id="28" tile-preview></div>
            <div class="cell" data-id="29" tile-preview></div>
            <div class="cell" data-id="30" tile-preview></div>
            <div class="cell" data-id="31" tile-preview></div>
            <div class="cell" data-id="32" tile-preview></div>
            <div class="cell" data-id="33" tile-preview></div>
            <div class="cell" data-id="34" tile-preview></div>
            <div class="cell" data-id="35" tile-preview></div>
        </div>
        <div class="row">
            <div class="ne_P_okres cell">5</div>
            <div class="cell" data-id="36" tile-preview></div>
            <div class="cell" data-id="37" tile-preview></div>
            <div class="cell" data-id="38" tile-preview></div>
            <div class="cell" data-id="39" tile-preview></div>
            <div class="cell" data-id="40" tile-preview></div>
            <div class="cell" data-id="41" tile-preview></div>
            <div class="cell" data-id="42" tile-preview></div>
            <div class="cell" data-id="43" tile-preview></div>
            <div class="cell" data-id="44" tile-preview></div>
            <div class="cell" data-id="45" tile-preview></div>
            <div class="cell" data-id="46" tile-preview></div>
            <div class="cell" data-id="47" tile-preview></div>
            <div class="cell" data-id="48" tile-preview></div>
            <div class="cell" data-id="49" tile-preview></div>
            <div class="cell" data-id="50" tile-preview></div>
            <div class="cell" data-id="51" tile-preview></div>
            <div class="cell" data-id="52" tile-preview></div>
            <div class="cell" data-id="53" tile-preview></div>
        </div>
        <div class="row">
            <div class="ne_P_okres cell">6</div>
            <div class="cell" data-id="54" tile-preview></div>
            <div class="cell" data-id="55" tile-preview></div>
            <div class="cell" data-id="56" tile-preview></div>
            <div class="cell" data-id="71" tile-preview></div>
            <div class="cell" data-id="72" tile-preview></div>
            <div class="cell" data-id="73" tile-preview></div>
            <div class="cell" data-id="74" tile-preview></div>
            <div class="cell" data-id="75" tile-preview></div>
            <div class="cell" data-id="76" tile-preview></div>
            <div class="cell" data-id="77" tile-preview></div>
            <div class="cell" data-id="78" tile-preview></div>
            <div class="cell" data-id="79" tile-preview></div>
            <div class="cell" data-id="80" tile-preview></div>
            <div class="cell" data-id="81" tile-preview></div>
            <div class="cell" data-id="82" tile-preview></div>
            <div class="cell" data-id="83" tile-preview></div>
            <div class="cell" data-id="84" tile-preview></div>
            <div class="cell" data-id="85" tile-preview></div>
        </div>
        <div class="row">
            <div class="ne_P_okres cell">7</div>
            <div class="cell" data-id="86" tile-preview></div>
            <div class="cell" data-id="87" tile-preview></div>
            <div class="cell" data-id="88" tile-preview></div>
            <div class="cell" data-id="103" tile-preview></div>
            <div class="cell" data-id="104" tile-preview></div>
            <div class="cell" data-id="105" tile-preview></div>
            <div class="cell" data-id="106" tile-preview></div>
            <div class="cell" data-id="107" tile-preview></div>
            <div class="cell" data-id="108" tile-preview></div>
            <div class="cell" data-id="109" tile-preview></div>
            <div class="cell" data-id="110" tile-preview></div>
            <div class="cell" data-id="111" tile-preview></div>
            <div class="cell" data-id="112" tile-preview></div>
            <div class="cell" data-id="113" tile-preview></div>
            <div class="cell" data-id="114" tile-preview></div>
            <div class="cell" data-id="115" tile-preview></div>
            <div class="cell" data-id="116" tile-preview></div>
            <div class="cell" data-id="117" tile-preview></div>
        </div>
        <div class="row">
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
        </div>
        <div class="row">
        	<div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell" data-id="57" tile-preview></div>
            <div class="cell" data-id="58" tile-preview></div>
            <div class="cell" data-id="59" tile-preview></div>
            <div class="cell" data-id="60" tile-preview></div>
            <div class="cell" data-id="61" tile-preview></div>
            <div class="cell" data-id="62" tile-preview></div>
            <div class="cell" data-id="63" tile-preview></div>
            <div class="cell" data-id="64" tile-preview></div>
            <div class="cell" data-id="65" tile-preview></div>
            <div class="cell" data-id="66" tile-preview></div>
            <div class="cell" data-id="67" tile-preview></div>
            <div class="cell" data-id="68" tile-preview></div>
            <div class="cell" data-id="69" tile-preview></div>
            <div class="cell" data-id="70" tile-preview></div>
        </div>
        <div class="row">
        	<div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell" data-id="89" tile-preview></div>
            <div class="cell" data-id="90" tile-preview></div>
            <div class="cell" data-id="91" tile-preview></div>
            <div class="cell" data-id="92" tile-preview></div>
            <div class="cell" data-id="93" tile-preview></div>
            <div class="cell" data-id="94" tile-preview></div>
            <div class="cell" data-id="95" tile-preview></div>
            <div class="cell" data-id="96" tile-preview></div>
            <div class="cell" data-id="97" tile-preview></div>
            <div class="cell" data-id="98" tile-preview></div>
            <div class="cell" data-id="99" tile-preview></div>
            <div class="cell" data-id="100" tile-preview></div>
            <div class="cell" data-id="101" tile-preview></div>
            <div class="cell" data-id="102" tile-preview></div>
        </div>
    </div>
</div>