<div class="quiz-preview-wrapper preview-wrapper" 
     ng-class="{horizontal: showRight || showLeft,
                vertical: showUp || showDown }">
	<div class="table">
        <div class="row">
            <div class="cell"></div>
            <div class="ne_P_grupa cell">1</div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="ne_P_grupa cell">18</div>
            <div class="cell"></div>
        </div>
        <div class="row">
            <div class="ne_P_okres cell">1</div>
            <div class="cell" data-id="0" quiz-tile></div>
            <div class="ne_P_grupa cell">2</div>
            <div class="cell"></div>
            <div class="ne_P_grupa cell">13</div>
            <div class="ne_P_grupa cell">14</div>
            <div class="ne_P_grupa cell">15</div>
            <div class="ne_P_grupa cell">16</div>
            <div class="ne_P_grupa cell">17</div>
            <div class="cell" data-id="1" quiz-tile></div>
            <div class="cell v-arrow">
                <div class="v-tip-up" ng-if="showUp"></div>
            </div>
        </div>
        <div class="row">
            <div class="ne_P_okres cell">2</div>
            <div class="cell" data-id="2" quiz-tile></div>
            <div class="cell" data-id="3" quiz-tile></div>
            <div class="cell"></div>
            <div class="cell" data-id="4" quiz-tile></div>
            <div class="cell" data-id="5" quiz-tile></div>
            <div class="cell" data-id="6" quiz-tile></div>
            <div class="cell" data-id="7" quiz-tile></div>
            <div class="cell" data-id="8" quiz-tile></div>
            <div class="cell" data-id="9" quiz-tile></div>
            <div class="cell v-arrow"></div>
        </div>
        <div class="row">
            <div class="ne_P_okres cell">3</div>
            <div class="cell" data-id="10" quiz-tile></div>
            <div class="cell" data-id="11" quiz-tile></div>
            <div class="cell"></div>
            <div class="cell" data-id="12" quiz-tile></div>
            <div class="cell" data-id="13" quiz-tile></div>
            <div class="cell" data-id="14" quiz-tile></div>
            <div class="cell" data-id="15" quiz-tile></div>
            <div class="cell" data-id="16" quiz-tile></div>
            <div class="cell" data-id="17" quiz-tile></div>
            <div class="cell v-arrow"></div>
        </div>
        <div class="row">
            <div class="ne_P_okres cell">4</div>
            <div class="cell" data-id="18" quiz-tile></div>
            <div class="cell" data-id="19" quiz-tile></div>
            <div class="cell hidden-groups">
                <span>&nbsp;3&nbsp;&#8211;&nbsp;12&nbsp;</span>
            </div>
            <div class="cell" data-id="30" quiz-tile></div>
            <div class="cell" data-id="31" quiz-tile></div>
            <div class="cell" data-id="32" quiz-tile></div>
            <div class="cell" data-id="33" quiz-tile></div>
            <div class="cell" data-id="34" quiz-tile></div>
            <div class="cell" data-id="35" quiz-tile></div>
            <div class="cell v-arrow"></div>
        </div>
        <div class="row">
            <div class="ne_P_okres cell">5</div>
            <div class="cell" data-id="36" quiz-tile></div>
            <div class="cell" data-id="37" quiz-tile></div>
            <div class="cell"></div>
            <div class="cell" data-id="48" quiz-tile></div>
            <div class="cell" data-id="49" quiz-tile></div>
            <div class="cell" data-id="50" quiz-tile></div>
            <div class="cell" data-id="51" quiz-tile></div>
            <div class="cell" data-id="52" quiz-tile></div>
            <div class="cell" data-id="53" quiz-tile></div>
            <div class="cell v-arrow"></div>
        </div>
        <div class="row">
            <div class="ne_P_okres cell">6</div>
            <div class="cell" data-id="54" quiz-tile></div>
            <div class="cell" data-id="55" quiz-tile></div>
            <div class="cell"></div>
            <div class="cell" data-id="80" quiz-tile></div>
            <div class="cell" data-id="81" quiz-tile></div>
            <div class="cell" data-id="82" quiz-tile></div>
            <div class="cell" data-id="83" quiz-tile></div>
            <div class="cell" data-id="84" quiz-tile></div>
            <div class="cell" data-id="85" quiz-tile></div>
            <div class="cell v-arrow"></div>
        </div>
        <div class="row">
            <div class="ne_P_okres cell">7</div>
            <div class="cell" data-id="86" quiz-tile></div>
            <div class="cell" data-id="87" quiz-tile></div>
            <div class="cell"></div>
            <div class="cell" data-id="112" quiz-tile></div>
            <div class="cell" data-id="113" quiz-tile></div>
            <div class="cell" data-id="114" quiz-tile></div>
            <div class="cell" data-id="115" quiz-tile></div>
            <div class="cell" data-id="116" quiz-tile></div>
            <div class="cell" data-id="117" quiz-tile></div>
            <div class="cell v-arrow">
                <div class="v-tip-down" ng-if="showDown"></div>
            </div>
        </div> 
        <div class="row">
            <div class="cell"></div>
            <div class="cell h-arrow">
                <div class="h-tip-left" ng-if="showLeft"></div>
            </div>
            <div class="cell h-arrow"></div>
            <div class="cell h-arrow"></div>
            <div class="cell h-arrow"></div>
            <div class="cell h-arrow"></div>
            <div class="cell h-arrow"></div>
            <div class="cell h-arrow"></div>
            <div class="cell h-arrow"></div>
            <div class="cell h-arrow">
                <div class="h-tip-right" ng-if="showRight"></div>
            </div>
            <div class="cell"></div>
        </div>
        <div class="row">
            <div class="cell"></div>
            <div class="cell">
                <div class="quiz-tile-preview tile-preview isQuizNotMetal isOkres tile-legend">
                    &nbsp;
                    <div class="tile-legend-caption">metale</div>
                </div>
            </div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell">
                <div class="quiz-tile-preview tile-preview isQuizMetal isOkres tile-legend">
                    &nbsp;
                    <div class="tile-legend-caption">niemetale</div>
                </div>
            </div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
        </div>
    </div>
</div>