<div class="quiz-tile-preview tile-preview"
	 ng-class="{isQuizMetal: !tilesData[id].metal,
	 			isQuizNotMetal: tilesData[id].metal,
	 			isGrupa: tilesData[previewId].grupa == tilesData[id].grupa && tilesData[previewId].grupa && showGrupa,
	 			isOkres: tilesData[previewId].okres == tilesData[id].okres && showOkres,
	 			highlighted: (firstElement == id) || (secondElement == id) || (thirdElement == id)
	 		}"
	 ng-mouseenter="options=true" ng-mouseleave="options=false"
	>
	{{::tilesData[id].symbol}}
	<div class="zoom-preview-tile" ng-if="options" ng-class="{'right-overright': tilesData[id].grupa > 14 || id == 67 || id == 68 || id == 69 || id == 70 || id == 99 || id == 100 || id == 101 || id == 102 }">
		<div class="symbol-num-wrapper pos-relative">
			<span class="num-wrapper">{{::tilesData[id].a_number}}</span>
			<span class="symbol-wrapper">{{::tilesData[id].symbol}}</span>
		</div>
		<div class="name-wrapper">{{::tilesData[id].name}}</div>
		<div class="atom-mass-wrapper">{{::tilesData[id].a_mass}}</div>
	</div>
</div>