<div class="tile-wrapper"
	 ng-class="{isGrupa: tilesData[selectedElem].grupa == tilesData[id].grupa && isTutGrupa,
	 			isOkres: tilesData[selectedElem].okres == tilesData[id].okres && isTutOkres,
	 			selected: id == selectedElem
				}"
	ng-click="tutSelectedElem(id)"
	>
	<div class="symbol-num-wrapper">
		<span class="atom-num-wrapper" ng-class="{tuthighlight: ((currSlide == 4) || (currSlide == 5) || (currSlide == 6)) && (id == selectedElem)}" ng-show="isDesktop">{{::tilesData[id].a_number}}</span>
		<span class="symbol-wrapper" ng-class="{tuthighlight: (currSlide == 3) && (id == selectedElem)}">{{::tilesData[id].symbol}}</span>
	</div>
	<div ng-show="isDesktop">
	    <div class="name-wrapper" ng-class="{tuthighlight: (currSlide == 2) && (id == selectedElem)}">{{::tilesData[id].name}}</div>
	</div>
</div>