<div class="tile-wrapper" ng-controller="TileController" 
	 ng-class="{isMetal: isMetal && !tilesData[id].metal,
	 			isNotMetal: isMetal && tilesData[id].metal,
	 			isGrupa: isGrupa && tilesData[currId].grupa == tilesData[id].grupa && tilesData[currId].grupa,
	 			isOkres: isOkres && tilesData[currId].okres == tilesData[id].okres,
	 			blokS: isBlok && (tilesData[id].grupa <= 2 || tilesData[id].symbol == 'He'),
	 			blokP: isBlok && tilesData[id].grupa >= 13 && tilesData[id].grupa <= 18 && tilesData[id].symbol != 'He',
	 			blokD: isBlok && tilesData[id].grupa >= 3 && tilesData[id].grupa <= 12,
	 			blokF: isBlok && tilesData[id].grupa == null 
				}" 
	 ng-click="isSelected(id)">

	 <div ng-show="isRoyal">
		<span class="royal-wrapper" ng-show="tilesData[id].royal">&shy;</span>
	</div>
	<div ng-show="isState">
		<span class="liquid-wrapper" ng-show="tilesData[id].state == 'ciecz'">&shy;</span>
		<span class="gas-wrapper" ng-show="tilesData[id].state == 'gaz'">&shy;</span>
	</div>

	<div ng-hide="!isDesktop && !isPrint">
		<div ng-hide="tileSwitch != 'eleval'">
			<div class="val-top-wrapper val-dot-wrapper">{{::tilesData[id].val_top}}</div>
			<div class="val-left-wrapper val-dot-wrapper">{{::tilesData[id].val_left}}</div>
			<span class="symbol-wrapper">{{::tilesData[id].symbol}}</span>
			<div class="val-right-wrapper val-dot-wrapper">{{::tilesData[id].val_right}}</div>
			<div class="val-bottom-wrapper val-dot-wrapper">{{::tilesData[id].val_bottom}}</div>
		</div>
		<div ng-hide="tileSwitch != 'izomass'">
			<table class="izo-mass-wrapper">
				<tr>
					<td>{{::tilesData[id].izo_mass_01}}</td>
					<td>{{::tilesData[id].izo_mass_02}}</td>
					<td>{{::tilesData[id].izo_mass_03}}</td>
				</tr>
				<tr>
					<td>{{::tilesData[id].izo_mass_04}}</td>
					<td>{{::tilesData[id].izo_mass_05}}</td>
					<td>{{::tilesData[id].izo_mass_06}}</td>
				</tr>
				<tr>
					<td>{{::tilesData[id].izo_mass_07}}</td>
					<td>{{::tilesData[id].izo_mass_08}}</td>
					<td>{{::tilesData[id].izo_mass_09}}</td>
				</tr>
				<tr>
					<td>{{::tilesData[id].izo_mass_10}}</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
			</table>
		</div>
		<div class="symbol-num-wrapper" ng-hide="tileSwitch == 'eleval'">
			<span class="atom-num-wrapper">{{::tilesData[id].a_number}}</span>
			<span class="symbol-wrapper">{{::tilesData[id].symbol}}</span>
		</div>
		<div ng-hide="tileSwitch != 'amass'">
		    <div class="name-wrapper">{{::tilesData[id].name}}</div>
		    <div class="atom-mass-wrapper">{{::tilesData[id].a_mass}}</div>
		</div>
		<div ng-hide="tileSwitch != 'valence'">
			<div class="valence-wrapper">{{::tilesData[id].valence}}</div>
		</div>
		<div ng-hide="tileSwitch != 'oxidation'">
			<div class="valence-wrapper">{{::tilesData[id].oxidation}}</div>
		</div>
		<div ng-hide="tileSwitch != 'electronegativity'">
			<div class="valence-wrapper">{{::tilesData[id].electronegativity}}</div>
		</div>
	</div>
	<div class="symbol-num-wrapper" ng-hide="isDesktop || isPrint">
		<span class="symbol-wrapper">{{::tilesData[id].symbol}}</span>
	</div>
</div>