<div class="tile-preview"
	 ng-class="{isGrupa: tilesData[currId].grupa == tilesData[id].grupa && tilesData[currId].grupa,
	 			isOkres: tilesData[currId].okres == tilesData[id].okres,
				}"
	ng-click="changeSelected(id)" ng-mouseenter="options=true" ng-mouseleave="options=false"
	>
	{{::tilesData[id].symbol}}
	<div class="zoom-preview-tile" ng-if="options" ng-class="{'right-overright': tilesData[id].grupa > 14 || id == 67 || id == 68 || id == 69 || id == 70 || id == 99 || id == 100 || id == 101 || id == 102 }">
		{{::tilesData[id].symbol}}
		<p>{{::tilesData[id].name}}</p>
	</div>
</div>