<div class="cookies-wrapper">
    <div class="cookies-container" ng-hide="consent()">
    	<div class="cookies-text">
    		<p class="bottom-margin-small"><strong>Polityka cookies</strong></p>
    		<p class="bottom-margin-normal">Serwis www.ukladokresowy.edu.pl korzysta z plików cookies. Kliknij, aby przeczytać więcej informacji na temat cookies, jakich używamy, oraz jak nimi zarządzać.</p>
    	</div>
    	<div class="cookies-btn bottom-margin-small">
	    	<a ng-href="#/cookies-polityka">CZYTAJ WIĘCEJ</a>
	    	<a href="" ng-click="consent(true)">AKCEPTUJĘ</a>
	    </div>
     </div>
</div>