<div class="tile-wrapper" ng-controller="TileController" 
	 ng-class="{isMetal: isMetal && !tilesData[id].metal,
	 			isNotMetal: isMetal && tilesData[id].metal,
	 			isGrupa: isGrupa && tilesData[currId].grupa == tilesData[id].grupa && tilesData[currId].grupa,
	 			isOkres: isOkres && tilesData[currId].okres == tilesData[id].okres,
	 			blokS: isBlok && (tilesData[id].grupa <= 2 || tilesData[id].symbol == 'He'),
	 			blokP: isBlok && tilesData[id].grupa >= 13 && tilesData[id].grupa <= 18 && tilesData[id].symbol != 'He',
	 			blokD: isBlok && tilesData[id].grupa >= 3 && tilesData[id].grupa <= 12,
	 			blokF: isBlok && tilesData[id].grupa == null 
				}" 
	 ng-click="isSelected(id)">

	<div ng-show="isRoyal">
		<span class="royal-wrapper" ng-show="tilesData[id].royal">&shy;</span>
	</div>
	<div ng-show="isState">
		<span class="liquid-wrapper" ng-show="tilesData[id].state == 'ciecz'">&shy;</span>
		<span class="gas-wrapper" ng-show="tilesData[id].state == 'gaz'">&shy;</span>
	</div>
	<div class="symbol-num-wrapper">
		<span class="symbol-wrapper">{{::tilesData[id].symbol}}</span>
	</div>
</div>