<div class="tut-tooltip" ng-class="{introTooltip: !tutStarted}">
    <div class="tut-arrow-tip"></div>
    <div class="tut-tooltip-desc" ng-bind-html="currDesc"></div>
    <div class="tut-tooltip-desc" ng-show="(currSlide == 8) && (tempCurrDesc < 2)">numer grupy = liczba e<sup>&#8722;</sup> walencyjnych</div>
    <div class="tut-tooltip-desc" ng-show="(currSlide == 8) && (tempCurrDesc == 2)">grupa &#8211; 10 = liczba e<sup>&#8722;</sup> walencyjnych</div>
    <div class="tut-tooltip-desc" ng-show="(currSlide == 8) && (tempCurrDesc == 3)">liczba e<sup>&#8722;</sup> walencyjnych = <span class="tuthighlight">{{tilesData[selectedElem].val_num}}</span></div>
    <div class="tut-tooltip-desc" ng-show="(currSlide == 9) && (tempCurrDesc == 0)"><span class="tuthighlight"><span ng-repeat="item in elektronShellList[0]"><em>{{item.name}}</em><sup>&nbsp;{{item.index}}</sup>&nbsp;</span></span></div>
    <div class="tut-tooltip-nav table" ng-show="tutStarted">
        <div class="row">
            <div class="cell" ng-class="{inactive: minusButtonOff}">
                <div ng-click="currQuestionMinus()">wróć</div>
            </div>
            <div ng-if="currSlide != 9" class="cell" ng-class="{inactive: plusButtonOff}">
                <div ng-click="currQuestionPlus()">dalej</div>
            </div>
            <div ng-if="currSlide == 9" class="cell">
                <div ng-click="endTutorial()">koniec</div>
            </div>
        </div>
    </div>
</div>