<div class="container-wrapper">
    <div class="zoom-wrapper pos-relative" ng-class="{blank: !tutStarted}">
        <section ng-hide="isPhone">
            <div ng-show="!tutStarted" tut-tooltip bottom style="top: 10.5rem;"></div>
            <div class="row-wrapper" ng-if="tutStarted">
                <div class="cell">
                    <div class="group-wrapper pos-relative" ng-class="{tuthighlight: (currSlide == 1) || (currSlide == 8)}">
                        {{(tilesData[selectedElem].grupa | num) || ""}}
                        <div ng-show="currSlide == 1" tut-tooltip top-left style="left: 2.88rem; bottom: -0.5rem;"></div>
                    </div>
                    <div class="elem-wrapper">
                        <div class="tile-wrapper">  
                            <div class="symbol-num-wrapper pos-relative">
                                <span class="atom-num-wrapper" ng-class="{tuthighlight: (currSlide == 4) || (currSlide == 5) || (currSlide == 6)}">
                                    {{tilesData[selectedElem].a_number}}
                                    <div ng-show="currSlide == 4" tut-tooltip top-left style="bottom: -1rem; left: -0.5rem;"></div>
                                </span>
                                <span class="symbol-wrapper pos-relative" ng-class="{tuthighlight: currSlide == 3}">
                                    {{tilesData[selectedElem].symbol}}
                                    <div ng-show="currSlide == 3" tut-tooltip top-left style="bottom: -1rem; left: -0.5rem;"></div>
                                </span> 
                            </div>
                            <div class="pos-relative">
                                <div class="name-wrapper" ng-class="{tuthighlight: currSlide == 2}">{{tilesData[selectedElem].name}}</div>
                                <div ng-show="currSlide == 2" tut-tooltip top-left style="bottom: -1rem; left: 2.6rem"></div>
                            </div>
                            <div class="okres-wrapper pos-relative" ng-class="{tuthighlight: (currSlide == 0) || (currSlide == 7)}">
                                {{tilesData[selectedElem].okres}}
                                <div ng-show="currSlide == 0" tut-tooltip top-left style="bottom: -1rem; left: -1rem;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cell">
                    <div class="svg-container pos-relative">
                        <svg class="my-svg" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 346 140" >
                            <g class="core">
                                <circle cx="27" cy="70" r="25" fill-opacity="0.0" stroke="#58595b" stroke-width="2" />
                                <text x="27" y="76" font-size="16">
                                    <tspan ng-hide="(currSlide == 5) || ((currSlide == 6) && (tempCurrDesc == 1))" text-anchor="middle">+{{tilesData[selectedElem].a_number}}</tspan>
                                    <tspan class="tuthighlight" ng-show="(currSlide == 5) || ((currSlide == 6) && (tempCurrDesc == 1))" text-anchor="middle" fill="#f7931d">+{{tilesData[selectedElem].a_number}}</tspan>
                                </text>
                            </g>
                            <g class="shell" ng-repeat="item in elektronShellList[0]">
                                <ellipse ng-hide="(currSlide == 7) || (currSlide == 9)" cx="22" cy="70" ng-rx="{{65 + 38*$index}}" ng-ry="{{90 + 30*$index}}" fill-opacity="0.0" stroke="#b1dcf0" stroke-width="2" />
                                <ellipse ng-show="(currSlide == 7) || (currSlide == 9)" cx="22" cy="70" ng-rx="{{65 + 38*$index}}" ng-ry="{{90 + 30*$index}}" fill-opacity="0.0" stroke="#f7931d" stroke-width="3" />
                                <text ng-x="{{106 + 38*$index}}" y="76" font-size="13">
                                    <tspan text-anchor="middle">
                                        <tspan ng-hide="(currSlide == 9) || (currSlide == 6) || (currSlide == 8 && ($index == (elektronShellList[0].length - 1))) && (tempCurrDesc != 1) && (tempCurrDesc != 3)">{{item.index}}</tspan>
                                        <tspan class="tuthighlight" ng-show="(currSlide == 9) || (currSlide == 6)" fill="#f7931d">{{item.index}}</tspan>
                                        <tspan class="tuthighlight" ng-show="currSlide == 8 && ($index == (elektronShellList[0].length - 1)) && (tempCurrDesc != 1) && (tempCurrDesc != 3)" fill="#f7931d">{{item.index}}</tspan>
                                        <tspan dx="-2">e</tspan>
                                        <tspan dy="-5" dx="-2">&#x2212;</tspan>
                                    </tspan>
                                </text>
                                <rect fill="#ffffff" ng-x="{{60 + 40*$index}}" y="118" height="25" width="25" />
                                <text ng-x="{{72 + 39*$index}}" y="135" font-size="16">
                                    <tspan ng-hide="currSlide == 9" text-anchor="middle" font-style="italic">{{shellList[$index]}}</tspan>
                                    <tspan class="tuthighlight" ng-show="currSlide == 9" text-anchor="middle" fill="#f7931d" font-style="italic">{{shellList[$index]}}</tspan>
                                </text>
                            </g>
                        </svg>
                        <div ng-show="currSlide == 5" tut-tooltip top style="bottom: 2rem; left: 2rem;"></div>
                        <div ng-show="(currSlide == 6) && (tempCurrDesc == 0)" tut-tooltip top style="bottom: 3rem; left: 7rem;"></div>
                        <div ng-show="(currSlide == 6) && (tempCurrDesc == 1)" tut-tooltip top style="bottom: -1rem; left: 2rem;"></div>
                        <div ng-show="(currSlide == 8) && (tempCurrDesc != 1) && (tempCurrDesc != 3) && tilesData[selectedElem].okres < 4" tut-tooltip top style="bottom: 3rem;" ng-left="{{4.5 + 2.65*elektronShellList[0].length}}"></div>
                        <div ng-show="(currSlide == 8) && (tempCurrDesc != 1) && (tempCurrDesc != 3) && tilesData[selectedElem].okres >= 4" tut-tooltip top-right style="bottom: 3rem;" ng-left="{{6 + 2.65*elektronShellList[0].length}}"></div>
                        <div ng-show="(currSlide == 7) || (currSlide == 9)" tut-tooltip top style="bottom: -1rem; left: 5rem;"></div>
                    </div>
                </div>
            </div>  
        </section>
        <section ng-show="isPhone">
            <div ng-show="!tutStarted" tut-tooltip phoneTooltip bottom style="top: 12rem;"></div>
            <div tut-tooltip phoneTooltip ng-show="tutStarted"></div>
            <div class="elem-phone-tut" ng-show="tutStarted">
                <div class="group-wrapper" ng-class="{tuthighlight: (currSlide == 1) || (currSlide == 8)}" style="text-align: center;">
                    {{(tilesData[selectedElem].grupa | num) || ""}}
                </div>
                <div class="elem-wrapper">
                    <div class="tile-wrapper pos-relative">  
                        <div class="symbol-num-wrapper">
                            <span class="atom-num-wrapper" ng-class="{tuthighlight: (currSlide == 4) || (currSlide == 5) || (currSlide == 6)}">
                                {{tilesData[selectedElem].a_number}}
                            </span>
                            <span class="symbol-wrapper" ng-class="{tuthighlight: currSlide == 3}">
                                {{tilesData[selectedElem].symbol}}
                            </span> 
                        </div>
                        <div class="pos-relative">
                            <div class="name-wrapper" ng-class="{tuthighlight: currSlide == 2}">{{tilesData[selectedElem].name}}</div>
                        </div>
                        <div class="okres-wrapper" ng-class="{tuthighlight: (currSlide == 0) || (currSlide == 7)}">
                            {{tilesData[selectedElem].okres}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="table">
                <div class="row">
                    <div class="cell">
                        <div class="svg-container" ng-show="tutStarted">
                            <svg class="my-svg" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 346 140">
                                <g class="core" ng-hide="selectedElem == null">
                                    <circle cx="27" cy="70" r="25" fill-opacity="0.0" stroke="#58595b" stroke-width="2" />
                                    <text x="27" y="76" font-size="16">
                                        <tspan ng-hide="(currSlide == 5) || ((currSlide == 6) && (tempCurrDesc == 1))" text-anchor="middle">+{{tilesData[selectedElem].a_number}}</tspan>
                                        <tspan class="tuthighlight" ng-show="(currSlide == 5) || ((currSlide == 6) && (tempCurrDesc == 1))" text-anchor="middle" fill="#f7931d">+{{tilesData[selectedElem].a_number}}</tspan>
                                    </text>
                                </g>
                                <g class="shell" ng-repeat="item in elektronShellList[0]">
                                    <ellipse ng-hide="(currSlide == 7) || (currSlide == 9)" cx="22" cy="70" ng-rx="{{65 + 38*$index}}" ng-ry="{{90 + 30*$index}}" fill-opacity="0.0" stroke="#b1dcf0" stroke-width="2" />
                                    <ellipse ng-show="(currSlide == 7) || (currSlide == 9)" cx="22" cy="70" ng-rx="{{65 + 38*$index}}" ng-ry="{{90 + 30*$index}}" fill-opacity="0.0" stroke="#f7931d" stroke-width="3" />
                                    <text ng-x="{{105 + 38*$index}}" y="76" font-size="14">
                                        <tspan text-anchor="middle">
                                            <tspan ng-hide="(currSlide == 9) || (currSlide == 6) || (currSlide == 8 && ($index == (elektronShellList[0].length - 1))) && (tempCurrDesc != 1) && (tempCurrDesc != 3)">{{item.index}}</tspan>
                                            <tspan class="tuthighlight" ng-show="(currSlide == 9) || (currSlide == 6)" fill="#f7931d">{{item.index}}</tspan>
                                            <tspan class="tuthighlight" ng-show="currSlide == 8 && ($index == (elektronShellList[0].length - 1)) && (tempCurrDesc != 1) && (tempCurrDesc != 3)" fill="#f7931d">{{item.index}}</tspan>
                                            <tspan dx="-2">e</tspan>
                                            <tspan dy="-5" dx="-2">&#x2212;</tspan>
                                        </tspan>
                                    </text>
                                    <rect fill="#ffffff" ng-x="{{60 + 40*$index}}" y="118" height="25" width="25" />
                                    <text ng-x="{{72 + 39*$index}}" y="135" font-size="16">
                                        <tspan ng-hide="currSlide == 9" text-anchor="middle" ng-bind-html="shellList[$index]">{{shellList[$index]}}</tspan>
                                        <tspan class="tuthighlight" ng-show="currSlide == 9" text-anchor="middle" fill="#f7931d" ng-bind-html="shellList[$index]">{{shellList[$index]}}</tspan>
                                    </text>
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>