<div class="container-wrapper">
    <div class="zoom-wrapper" ng-hide="isPhone" ng-class="{'zoom-vertical-layout': layoutSwitch == 'vertical'}">
        <div class="row-wrapper">
            <div class="elem-wrapper">
                <div class="tile-wrapper"
                     ng-class="{isMetal: isMetal && !tilesData[currId].metal,
                                isNotMetal: isMetal && tilesData[currId].metal,
                                isGrupa: isGrupa && tilesData[currId].grupa,
                                isOkres: isOkres && tilesData[currId].okres,
                                blokS: isBlok && (tilesData[currId].grupa <= 2 || tilesData[currId].symbol == 'He'),
                                blokP: isBlok && tilesData[currId].grupa >= 3 && tilesData[currId].grupa <= 12,
                                blokD: isBlok && tilesData[currId].grupa >= 13 && tilesData[currId].grupa <= 18 && tilesData[currId].symbol != 'He',
                                blokF: isBlok && tilesData[currId].grupa == null 
                                }">

                    <div ng-show="isRoyal">
                        <span class="royal-wrapper" ng-show="tilesData[currId].royal">&shy;</span>
                    </div>
                    <div ng-show="isState">
                        <span class="liquid-wrapper" ng-show="tilesData[currId].state == 'ciecz'">&shy;</span>
                        <span class="gas-wrapper" ng-show="tilesData[currId].state == 'gaz'">&shy;</span>
                    </div>

                    <div ng-hide="tileSwitch != 'eleval'">
                        <div class="val-top-wrapper val-dot-wrapper">{{tilesData[currId].val_top}}</div>
                        <div class="val-left-wrapper val-dot-wrapper">{{tilesData[currId].val_left}}</div>
                        <span class="symbol-wrapper">{{tilesData[currId].symbol}}</span>
                        <div class="val-right-wrapper val-dot-wrapper">{{tilesData[currId].val_right}}</div>
                        <div class="val-bottom-wrapper val-dot-wrapper">{{tilesData[currId].val_bottom}}</div>
                    </div>
                    <div ng-hide="tileSwitch != 'izomass'">
                        <table class="izo-mass-wrapper">
                            <tr>
                                <td>{{tilesData[currId].izo_mass_01}}</td>
                                <td>{{tilesData[currId].izo_mass_02}}</td>
                                <td>{{tilesData[currId].izo_mass_03}}</td>
                            </tr>
                            <tr>
                                <td>{{tilesData[currId].izo_mass_04}}</td>
                                <td>{{tilesData[currId].izo_mass_05}}</td>
                                <td>{{tilesData[currId].izo_mass_06}}</td>
                            </tr>
                            <tr>
                                <td>{{tilesData[currId].izo_mass_07}}</td>
                                <td>{{tilesData[currId].izo_mass_08}}</td>
                                <td>{{tilesData[currId].izo_mass_09}}</td>
                            </tr>
                            <tr>
                                <td>{{tilesData[currId].izo_mass_10}}</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        </table>
                    </div>
                    <div class="symbol-num-wrapper" ng-hide="tileSwitch == 'eleval'">
                        <span class="atom-num-wrapper">{{tilesData[currId].a_number}}</span>
                        <span class="symbol-wrapper">{{tilesData[currId].symbol}}</span>
                    </div>
                    <div ng-hide="tileSwitch != 'amass'">
                        <div class="name-wrapper">{{tilesData[currId].name}}</div>
                        <div class="atom-mass-wrapper">{{tilesData[currId].a_mass}}</div>
                    </div>
                    <div ng-hide="tileSwitch != 'valence'">
                        <div class="valence-wrapper">{{tilesData[currId].valence}}</div>
                    </div>
                    <div ng-hide="tileSwitch != 'oxidation'">
                        <div class="valence-wrapper">{{tilesData[currId].oxidation}}</div>
                    </div>
                    <div ng-hide="tileSwitch != 'electronegativity'">
                        <div class="valence-wrapper">{{tilesData[currId].electronegativity}}</div>
                    </div>
                </div>
            </div>
            <div class="row-wrapper">
                <div class="zoom-button" ng-click="showDetails(currId)">
                    <div class="table"><div class="row"><div class="cell">właściwości</div><div class="icon-sheet link cell"></div></div></div>
                </div>
            </div>
            <div class="desc-wrapper">
                <p><strong>Nazwa:</strong> {{tilesData[currId].name}}</p>
                <p><strong>Liczba atomowa:</strong> {{tilesData[currId].a_number}}</p>
                <p ng-hide="tileSwitch != 'amass'"><strong>Rok odkrycia:</strong> {{tilesData[currId].year}}</p>
                <p ng-hide="tileSwitch != 'amass'"><strong>Masa atomowa:</strong> {{tilesData[currId].a_mass}} u</p>
                <p ng-hide="tileSwitch != 'izomass'"><strong>Liczby masowe występujących w&nbsp;przyrodzie izotopów</strong> <span tooltips tooltip-side="bottom" tooltip-template="dla pierwiastków chemicznych otrzymanych sztucznie podano liczby masowe najważniejszych izotopów" tooltip-show-trigger="touchend mouseover" tooltip-hide-trigger="mouseleave focusout" tooltip-close-button="true"><span class="tooltip-icon icon-sheet tooltip-btn"></span></span> : {{tilesData[currId].izo_mass}}</p>
                <p ng-hide="tileSwitch != 'valence'"><strong>Wartościowość:</strong> {{tilesData[currId].valence}}</p>
                <p ng-hide="tileSwitch != 'oxidation'"><strong>Stopnie utlenienia:</strong> {{tilesData[currId].oxidation}}</p>
                <p ng-hide="tileSwitch != 'electronegativity'"><strong>Elektroujemność:</strong> {{tilesData[currId].electronegativity}}</p>
                <p ng-hide="tileSwitch != 'eleval'"><strong>Liczba elektronów walencyjnych:</strong> {{tilesData[currId].val_num}}</p>
                <p ng-show="isGrupa && tilesData[currId].grupa"><strong>Grupa:</strong> {{(tilesData[currId].grupa | num) || "–"}} <span ng-show="tilesData[currId].group_name"><strong> Nazwa grupy:</strong> {{tilesData[currId].group_name}}</span></p>
                <p ng-show="isOkres"><strong>Okres:</strong> {{tilesData[currId].okres}}</p>
            </div>
            <div class="vertical-desc-wrapper" ng-show="layoutSwitch == 'wertykalna' && isDesktop">
                <p><strong>Podpowłoka elektronowa</strong> – zbiór orbitali atomowych jednego typu, znajdujących się w&nbsp;obrębie danej powłoki elektronowej, określany przez poboczną liczbę kwantową.</p>
                <p><strong>Elektrony walencyjne</strong> – elektrony znajdujące się na ostatniej powłoce elektronowej, zwanej powłoką walencyjną.</p>
            </div>
        </div> 
        <div class="vertical-desc-wrapper" ng-show="layoutSwitch == 'wertykalna' && !isDesktop">
            <p><strong>Podpowłoka elektronowa</strong> – zbiór orbitali atomowych jednego typu, znajdujących się w&nbsp;obrębie danej powłoki elektronowej, określany przez poboczną liczbę kwantową.</p>
            <p><strong>Elektrony walencyjne</strong> – elektrony znajdujące się na ostatniej powłoce elektronowej, zwanej powłoką walencyjną.</p>
        </div>
    </div>
</div>