<div class="filter-wrapper pos-relative">
    <div class="legend-container-wrapper">
        <div class="legend-cell-container">
            <div class="legend-cell">
                <div class="legend-wrapper liquid-wrapper">&shy;</div>
                <div class="legend-caption">ciecze</div>
            </div>
            <div class="legend-cell">
                <div class="legend-wrapper gas-wrapper">&shy;</div>
                <div class="legend-caption">gazy</div>
            </div>
            <div class="legend-cell">
                <div class="legend-wrapper royal-wrapper">&shy;</div>
                <div class="legend-caption">gazy szlachetne</div>
            </div>
        </div>
        <div class="legend-cell-container legend-margin-right">
            <div class="legend-cell">
                <div class="legend-wrapper liquid-wrapper neutron">&shy;</div>
                <div class="legend-caption">neutrony</div>
            </div>
            <div class="legend-cell">
                <div class="legend-wrapper liquid-wrapper proton">&shy;</div>
                <div class="legend-caption">protony</div>
            </div>
            <div class="legend-cell">
                <div class="legend-wrapper liquid-wrapper elektron">&shy;</div>
                <div class="legend-caption">elektrony</div>
            </div>
        </div>
         <div class="print-wrapper doNotPrint">
            <a href="javascript:window.print()" class="print-button">
                drukuj
                <div class="icon-sheet iconPrint"></div>
            </a>
        </div>
        <div class="form-wrapper-clear"></div>
    </div>
</div>

<div class="compare-wrapper" ng-contorller="compareTableController">
	<table>
        <tr>
            <td class="ne-hidePhone" ng-hide="isPhone"><div compare-preview-view></div></td>
            <td class="firstColumn"><div compare-tile data-name="firstId"></div></td>
            <td class="secondColumn"><div compare-tile data-name="secondId"></div></td>
            <td class="thirdColumn hideCell" ng-hide="isPhone"><div compare-tile data-name="thirdId"></div></td>
            <td class="fourthColumn" ng-show="isDesktop || isPrint"><div compare-tile data-name="fourthId"></div></td>
        </tr>
        <tr class="ne-showPhone">
            <td colspan="2"><div compare-preview-view></div>
        </tr>
        <tr class="compare-table-header-row ne-hidePhone" ng-hide="isPhone">
            <td class="compare-table-header">Budowa atomu</td>
            <td></td>
            <td></td>
            <td class="hideCell" ng-hide="isPhone"></td>
            <td ng-if="isDesktop || isPrint"></td>
        </tr>
        <tr ng-show="isPhone" class="compare-table-header-row ne-showPhone">
            <td class="compare-table-header" colspan="2">Budowa atomu</td>
        </tr>
        <tr class="ne-showPhone" ng-show="isPhone">
            <td colspan="2">cząstki elementarne</td>
        </tr>
        <tr>
            <td class="ne-hidePhone" ng-hide="isPhone">cząstki elementarne</td>
            <td class="firstColumn"><div class="elem-atom-wrapper" ng-show="tilesData[firstId] != null">protony: {{tilesData[firstId].a_number}}<br />neutrony: {{tilesData[firstId].mass_number - tilesData[firstId].a_number}}<br />elektrony: {{tilesData[firstId].a_number}}</div></td>
            <td class="secondColumn"><div class="elem-atom-wrapper" ng-show="tilesData[secondId] != null">protony: {{tilesData[secondId].a_number}}<br />neutrony: {{tilesData[secondId].mass_number - tilesData[secondId].a_number}}<br />elektrony: {{tilesData[secondId].a_number}}</div></td>
            <td class="thirdColumn hideCell" ng-hide="isPhone"><div class="elem-atom-wrapper" ng-show="tilesData[thirdId] != null">protony: {{tilesData[thirdId].a_number}}<br />neutrony: {{tilesData[thirdId].mass_number - tilesData[thirdId].a_number}}<br />elektrony: {{tilesData[thirdId].a_number}}</div></td>
            <td class="fourthColumn" ng-show="isDesktop || isPrint"><div class="elem-atom-wrapper" ng-show="tilesData[fourthId] != null">protony: {{tilesData[fourthId].a_number}}<br />neutrony: {{tilesData[fourthId].mass_number - tilesData[fourthId].a_number}}<br />elektrony: {{tilesData[fourthId].a_number}}</div></td>
        </tr>
        <tr class="ne-showPhone" ng-show="isPhone">
            <td colspan="2">model</td>
        </tr>
        <tr>
            <td ng-hide="isPhone" class="ne-hidePhone" >model</td>
            <td class="firstColumn">
                <div class="svg-container" ng-if="firstIdshellDistribution != null">
                    <svg class="my-svg" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 288 288">
                        <defs>
                            <filter id="f1">
                                <feGaussianBlur stdDeviation="3" />
                            </filter>
                            <radialGradient id="grad1" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
                              <stop offset="0%" style="stop-color:rgb(165,217,237);stop-opacity:1" />
                              <stop offset="40%" style="stop-color:rgb(85,196,233);stop-opacity:1" />
                              <stop offset="100%" style="stop-color:rgb(0,149,218);stop-opacity:1" />
                            </radialGradient>
                            <radialGradient id="grad2" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
                              <stop offset="0%" style="stop-color:#fed6ab;stop-opacity:1" />
                              <stop offset="40%" style="stop-color:#f63939;stop-opacity:1" />
                              <stop offset="100%" style="stop-color:#983131;stop-opacity:1" />
                            </radialGradient>
                            <radialGradient id="grad3" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
                              <stop offset="0%" style="stop-color:#efefef;stop-opacity:1" />
                              <stop offset="40%" style="stop-color:#c2c2c2;stop-opacity:1" />
                              <stop offset="100%" style="stop-color:#8a8a8a;stop-opacity:1" />
                            </radialGradient>
                        </defs>
                        <g ng-if="firstId == 0" class="core">
                            <circle cx="144" cy="144" r="5" fill="url(#grad2)" />
                        </g>
                        <g ng-if="firstId == 1" class="core">
                            <circle cx="140" cy="144" r="5" fill="url(#grad2)" />
                            <circle cx="142" cy="140" r="5" fill="url(#grad3)" />
                            <circle cx="144" cy="146" r="5" fill="url(#grad3)" />
                            <circle cx="146" cy="142" r="5" fill="url(#grad2)" />
                        </g>
                        <g ng-if="firstId > 1" class="core">
                            <g class="core" ng-repeat="neutrons in protonsNo(tilesData[firstId].a_number, tilesData[firstId].mass_number - tilesData[firstId].a_number) track by $index">
                                <circle ng-init="offsetN = getOffset(firstId)" ng-cx="{{144 + offsetN[0]}}" ng-cy="{{144 + offsetN[1]}}" r="5" fill="url(#grad3)" />
                                <circle ng-show="checkBool(tilesData[firstId].a_number, $index)" ng-init="offsetP = getOffset(firstId)" ng-cx="{{144 + offsetP[0]}}" ng-cy="{{144 + offsetP[1]}}" r="5" fill="url(#grad2)" />
                            </g>
                        </g>
                        <g class="shell" ng-repeat="shells in firstIdshellDistribution">
                            <circle class="doNotPrint" cx="144" cy="144" ng-r="{{35 + 17*$index}}" fill-opacity="0.0" stroke="#b1dcf0" stroke-width="3" filter="url(#f1)" />
                            <circle class="onlyPrint" cx="144" cy="144" ng-r="{{35 + 17*$index}}" fill-opacity="0.0" stroke="#75cfe7" stroke-width="3" />
                            <circle ng-repeat="elektrons in electronsNo(shells.index) track by $index" ng-cy="{{109-17*$parent.$index}}" cx="144" r="5" ng-transform='rotate({{360/shells.index * $index}} 144 144)' fill="url(#grad1)"/>
                        </g>
                    </svg>
                </div>
            </td>
            <td class="secondColumn">
                <div class="svg-container" ng-if="secondIdshellDistribution != null">
                    <svg class="my-svg" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 288 288">
                        <defs>
                            <filter id="f2">
                                <feGaussianBlur stdDeviation="3" />
                            </filter>
                            <radialGradient id="grad12" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
                              <stop offset="0%" style="stop-color:rgb(165,217,237);stop-opacity:1" />
                              <stop offset="40%" style="stop-color:rgb(85,196,233);stop-opacity:1" />
                              <stop offset="100%" style="stop-color:rgb(0,149,218);stop-opacity:1" />
                            </radialGradient>
                            <radialGradient id="grad22" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
                              <stop offset="0%" style="stop-color:#fed6ab;stop-opacity:1" />
                              <stop offset="40%" style="stop-color:#f63939;stop-opacity:1" />
                              <stop offset="100%" style="stop-color:#983131;stop-opacity:1" />
                            </radialGradient>
                            <radialGradient id="grad32" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
                              <stop offset="0%" style="stop-color:#efefef;stop-opacity:1" />
                              <stop offset="40%" style="stop-color:#c2c2c2;stop-opacity:1" />
                              <stop offset="100%" style="stop-color:#8a8a8a;stop-opacity:1" />
                            </radialGradient>
                        </defs>
                        <g ng-if="secondId == 0" class="core">
                            <circle cx="144" cy="144" r="5" fill="url(#grad22)" />
                        </g>
                        <g ng-if="secondId == 1" class="core">
                            <circle cx="140" cy="144" r="5" fill="url(#grad22)" />
                            <circle cx="142" cy="140" r="5" fill="url(#grad32)" />
                            <circle cx="144" cy="146" r="5" fill="url(#grad32)" />
                            <circle cx="146" cy="142" r="5" fill="url(#grad22)" />
                        </g>
                        <g ng-if="secondId > 1">
                            <g class="core" ng-repeat="neutrons in protonsNo(tilesData[secondId].a_number, tilesData[secondId].mass_number - tilesData[secondId].a_number) track by $index">
                                <circle ng-init="offsetN = getOffset(secondId)" ng-cx="{{144 + offsetN[0]}}" ng-cy="{{144 + offsetN[1]}}" r="5" fill="url(#grad32)" />
                                <circle ng-show="checkBool(tilesData[secondId].a_number, $index)" ng-init="offsetP = getOffset(secondId)" ng-cx="{{144 + offsetP[0]}}" ng-cy="{{144 + offsetP[1]}}" r="5" fill="url(#grad22)" />
                            </g>
                        </g>
                        <g class="shell" ng-repeat="shells in secondIdshellDistribution">
                            <circle class="doNotPrint" cx="144" cy="144" ng-r="{{35 + 17*$index}}" fill-opacity="0.0" stroke="#b1dcf0" stroke-width="3" filter="url(#f2)" />
                            <circle class="onlyPrint" cx="144" cy="144" ng-r="{{35 + 17*$index}}" fill-opacity="0.0" stroke="#75cfe7" stroke-width="3" />
                            <circle ng-repeat="elektrons in electronsNo(shells.index) track by $index" ng-cy="{{109-17*$parent.$index}}" cx="144" r="5" ng-transform='rotate({{360/shells.index * $index}} 144 144)' fill="url(#grad12)" />
                        </g>
                    </svg>
                </div>
            </td>
            <td class="thirdColumn hideCell" ng-hide="isPhone">
                <div class="svg-container" ng-if="thirdIdshellDistribution != null">
                    <svg class="my-svg" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 288 288">
                        <defs>
                            <filter id="f3">
                                <feGaussianBlur stdDeviation="3" />
                            </filter>
                            <radialGradient id="grad13" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
                              <stop offset="0%" style="stop-color:rgb(165,217,237);stop-opacity:1" />
                              <stop offset="40%" style="stop-color:rgb(85,196,233);stop-opacity:1" />
                              <stop offset="100%" style="stop-color:rgb(0,149,218);stop-opacity:1" />
                            </radialGradient>
                            <radialGradient id="grad23" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
                              <stop offset="0%" style="stop-color:#fed6ab;stop-opacity:1" />
                              <stop offset="40%" style="stop-color:#f63939;stop-opacity:1" />
                              <stop offset="100%" style="stop-color:#983131;stop-opacity:1" />
                            </radialGradient>
                            <radialGradient id="grad33" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
                              <stop offset="0%" style="stop-color:#efefef;stop-opacity:1" />
                              <stop offset="40%" style="stop-color:#c2c2c2;stop-opacity:1" />
                              <stop offset="100%" style="stop-color:#8a8a8a;stop-opacity:1" />
                            </radialGradient>
                        </defs>
                        <g ng-if="thirdId == 0" class="core">
                            <circle cx="144" cy="144" r="4" fill="url(#grad23)" />
                        </g>
                        <g ng-if="thirdId == 1" class="core">
                            <circle cx="140" cy="144" r="5" fill="url(#grad23)" />
                            <circle cx="142" cy="140" r="5" fill="url(#grad33)" />
                            <circle cx="144" cy="146" r="5" fill="url(#grad33)" />
                            <circle cx="146" cy="142" r="5" fill="url(#grad23)" />
                        </g>
                        <g ng-if="thirdId > 1">
                            <g class="core" ng-repeat="neutrons in protonsNo(tilesData[thirdId].a_number, tilesData[thirdId].mass_number - tilesData[thirdId].a_number) track by $index">
                                <circle ng-init="offsetN = getOffset(thirdId)" ng-cx="{{144 + offsetN[0]}}" ng-cy="{{144 + offsetN[1]}}" r="5" fill="url(#grad33)" />
                                <circle ng-show="checkBool(tilesData[thirdId].a_number, $index)" ng-init="offsetP = getOffset(thirdId)" ng-cx="{{144 + offsetP[0]}}" ng-cy="{{144 + offsetP[1]}}" r="5" fill="url(#grad23)" />
                            </g>
                        </g>
                        <g class="shell" ng-repeat="shells in thirdIdshellDistribution">
                            <circle class="doNotPrint" cx="144" cy="144" ng-r="{{35 + 17*$index}}" fill-opacity="0.0" stroke="#b1dcf0" stroke-width="3" filter="url(#f3)" />
                            <circle class="onlyPrint" cx="144" cy="144" ng-r="{{35 + 17*$index}}" fill-opacity="0.0" stroke="#75cfe7" stroke-width="3" />
                            <circle ng-repeat="elektrons in electronsNo(shells.index) track by $index" ng-cy="{{109-17*$parent.$index}}" cx="144" r="5" ng-transform='rotate({{360/shells.index * $index}} 144 144)' fill="url(#grad13)"/>
                        </g>
                    </svg>
                </div>
            </td>
            <td class="fourthColumn" ng-show="isDesktop || isPrint">
                <div class="svg-container" ng-if="fourthIdshellDistribution != null">
                    <svg class="my-svg" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 288 288">
                        <defs>
                            <filter id="f4">
                                <feGaussianBlur stdDeviation="3" />
                            </filter>
                            <radialGradient id="grad14" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
                              <stop offset="0%" style="stop-color:rgb(165,217,237);stop-opacity:1" />
                              <stop offset="40%" style="stop-color:rgb(85,196,233);stop-opacity:1" />
                              <stop offset="100%" style="stop-color:rgb(0,149,218);stop-opacity:1" />
                            </radialGradient>
                            <radialGradient id="grad24" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
                              <stop offset="0%" style="stop-color:#fed6ab;stop-opacity:1" />
                              <stop offset="40%" style="stop-color:#f63939;stop-opacity:1" />
                              <stop offset="100%" style="stop-color:#983131;stop-opacity:1" />
                            </radialGradient>
                            <radialGradient id="grad34" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
                              <stop offset="0%" style="stop-color:#efefef;stop-opacity:1" />
                              <stop offset="40%" style="stop-color:#c2c2c2;stop-opacity:1" />
                              <stop offset="100%" style="stop-color:#8a8a8a;stop-opacity:1" />
                            </radialGradient>
                        </defs>
                        <g ng-if="fourthId == 0" class="core">
                            <circle cx="144" cy="144" r="4" fill="url(#grad24)" />
                        </g>
                        <g ng-if="fourthId == 1" class="core">
                            <circle cx="140" cy="144" r="5" fill="url(#grad24)" />
                            <circle cx="142" cy="140" r="5" fill="url(#grad34)" />
                            <circle cx="144" cy="146" r="5" fill="url(#grad34)" />
                            <circle cx="146" cy="142" r="5" fill="url(#grad24)" />
                        </g>
                        <g ng-if="fourthId > 0">
                            <g class="core" ng-repeat="neutrons in protonsNo(tilesData[fourthId].a_number, tilesData[fourthId].mass_number - tilesData[fourthId].a_number) track by $index">
                                <circle ng-init="offsetN = getOffset(fourthId)" ng-cx="{{144 + offsetN[0]}}" ng-cy="{{144 + offsetN[1]}}" r="5" fill="url(#grad34)" />
                                <circle ng-show="checkBool(tilesData[fourthId].a_number, $index)" ng-init="offsetP = getOffset(fourthId)" ng-cx="{{144 + offsetP[0]}}" ng-cy="{{144 + offsetP[1]}}" r="5" fill="url(#grad24)" />
                            </g>
                        </g>
                        <g class="shell" ng-repeat="shells in fourthIdshellDistribution">
                            <circle class="doNotPrint" cx="144" cy="144" ng-r="{{35 + 17*$index}}" fill-opacity="0.0" stroke="#b1dcf0" stroke-width="3" filter="url(#f4)" />
                            <circle class="onlyPrint" cx="144" cy="144" ng-r="{{35 + 17*$index}}" fill-opacity="0.0" stroke="#75cfe7" stroke-width="3" />
                            <circle ng-repeat="elektrons in electronsNo(shells.index) track by $index" ng-cy="{{109-17*$parent.$index}}" cx="144" r="5" ng-transform='rotate({{360/shells.index * $index}} 144 144)' fill="url(#grad14)"/>
                        </g>
                    </svg>
                </div>
            </td>
        </tr>
        <tr ng-hide="isPhone" class="compare-table-header-row ne-hidePhone">
            <td class="compare-table-header">Konfiguracja</td>
            <td></td>
            <td></td>
            <td class="hideCell" ng-hide="isPhone"></td>
            <td ng-if="isDesktop || isPrint"></td>
        </tr>
        <tr ng-show="isPhone" class="compare-table-header-row ne-showPhone">
            <td class="compare-table-header" colspan="2">Konfiguracja</td>
        </tr>
        <tr class="ne-showPhone" ng-show="isPhone">
            <td colspan="2">powłokowa</td>
        </tr>
        <tr>
            <td ng-hide="isPhone" class="ne-hidePhone" >powłokowa</td>
            <td class="firstColumn">
                <span ng-repeat="item in firstIdshellDistribution"><em>{{item.name}}</em><sup>{{item.index}}</sup> </span>
            </td>
            <td class="secondColumn">
                <span ng-repeat="item in secondIdshellDistribution"><em>{{item.name}}</em><sup>{{item.index}}</sup> </span>
            </td>
            <td class="thirdColumn hideCell" ng-hide="isPhone">
                <span ng-repeat="item in thirdIdshellDistribution"><em>{{item.name}}</em><sup>{{item.index}}</sup> </span>
            </td>
            <td class="fourthColumn" ng-show="isDesktop || isPrint">
                <span ng-repeat="item in fourthIdshellDistribution"><em>{{item.name}}</em><sup>{{item.index}}</sup> </span>
            </td>
        </tr>
        <tr ng-hide="isPhone" class="compare-table-header-row ne-hidePhone">
            <td class="compare-table-header">Właściwości</td>
            <td></td>
            <td></td>
            <td class="hideCell" ng-hide="isPhone"></td>
            <td ng-if="isDesktop || isPrint"></td>
        </tr>
        <tr ng-show="isPhone" class="compare-table-header-row ne-showPhone">
            <td class="compare-table-header" colspan="2">Właściwości</td>
        </tr>
        <tr ng-show="isPhone" class="ne-showPhone">
            <td colspan="2">promień atomowy, pm</td>
        </tr>
        <tr>
            <td ng-hide="isPhone" class="ne-hidePhone" >promień atomowy, pm</td>
            <td class="firstColumn">{{tilesData[firstId].atom_radius}}</td>
            <td class="secondColumn">{{tilesData[secondId].atom_radius}}</td>
            <td class="thirdColumn hideCell" ng-hide="isPhone">{{tilesData[thirdId].atom_radius}}</td>
            <td class="fourthColumn" ng-show="isDesktop || isPrint">{{tilesData[fourthId].atom_radius}}</td>
        </tr>
        <tr ng-show="isPhone" class="ne-showPhone">
            <td colspan="2">gęstość, g/cm<sup>3</sup> <span tooltips tooltip-side="bottom" tooltip-template="w temp. 25&lt;sup&gt;o&lt;/sup&gt;C;&lt;br /&gt;dla gaz&oacute;w: po skropleniu w&amp;nbsp;temperaturze wrzenia" tooltip-show-trigger="touchend mouseover" tooltip-hide-trigger="mouseleave focusout" tooltip-close-button="true"><span class="tooltip-icon icon-sheet tooltip-btn"></span></span></td>
        </tr>
        <tr>
            <td ng-hide="isPhone" class="ne-hidePhone">gęstość, g/cm<sup>3</sup> <span tooltips tooltip-side="bottom" tooltip-template="w temp. 25&lt;sup&gt;o&lt;/sup&gt;C;&lt;br /&gt;dla gaz&oacute;w: po skropleniu w&amp;nbsp;temperaturze wrzenia" tooltip-show-trigger="touchend mouseover" tooltip-hide-trigger="mouseleave focusout" tooltip-close-button="true"><span class="tooltip-icon icon-sheet tooltip-btn"></span></span></td>
            <td class="firstColumn">{{tilesData[firstId].density}}</td>
            <td class="secondColumn">{{tilesData[secondId].density}}</td>
            <td class="thirdColumn hideCell" ng-hide="isPhone">{{tilesData[thirdId].density}}</td>
            <td class="fourthColumn" ng-show="isDesktop || isPrint">{{tilesData[fourthId].density}}</td>
        </tr>
        <tr ng-show="isPhone" class="ne-showPhone">
            <td colspan="2">elektroujemność</td>
        </tr>
        <tr>
            <td ng-hide="isPhone" class="ne-hidePhone">elektroujemność</td>
            <td class="firstColumn">{{tilesData[firstId].electronegativity}}</td>
            <td class="secondColumn">{{tilesData[secondId].electronegativity}}</td>
            <td class="thirdColumn hideCell" ng-hide="isPhone">{{tilesData[thirdId].electronegativity}}</td>
            <td class="fourthColumn" ng-show="isDesktop || isPrint">{{tilesData[fourthId].electronegativity}}</td>
        </tr>
    </table>
</div>