<div class="container-wrapper">
    <a href back ng-hide="isPhone">
        <div class="table back-btn">
            <div class="row">
                <div class="filter-button cell">
                   <div class="icon-sheet arrow-left"></div>
                </div>
                <div class="cell btn-caption">wróć do<br />poprzedniego ekranu</div>
            </div>
        </div>
    </a>
    <a href back ng-hide="!isPhone">
        <div class="table back-btn">
            <div class="row">
                <div class="filter-button cell">
                   <div class="icon-sheet arrow-left"></div>
                </div>
                <div class="cell btn-caption">wróć do<br />poprzedniego ekranu</div>
            </div>
        </div>
    </a>
</div>
<div class="container-wrapper" style="padding-bottom: 3rem;">
    <div class="infotext-container">
        <h2>Polityka plików cookies</h2>
        <p class="bottom-margin-normal">NE informuje, że podczas korzystania z&nbsp;usług lub produktów cyfrowych dane dotyczące użytkowników zbierane są automatycznie. Dane te mogą być zbierane w&nbsp;logach systemowych danego produktu przez pliki cookies.</p>
        <p class="bottom-margin-normal">Pliki cookies (tzw. „ciasteczka”) stanowią dane informatyczne, w&nbsp;szczególności pliki tekstowe, które przechowywane są w&nbsp;urządzeniu końcowym użytkowników i&nbsp;przeznaczone są do korzystania ze strony internetowej. NE informuje, że z&nbsp;momentem połączenia się przez użytkownika z&nbsp;danym produktem cyfrowym w&nbsp;logach systemowych tych produktów pojawia się informacja o&nbsp;numerze (w&nbsp;tym IP) i&nbsp;rodzaju urządzenia końcowego użytkownika, z&nbsp;którego użytkownik się łączy. NE informuje, że zgodnie z&nbsp;prawem przetwarza również dane dotyczące numeru (w&nbsp;tym IP) i&nbsp;rodzaju urządzenia końcowego użytkownika, a&nbsp;także czasu połączenia użytkownika oraz inne dane eksploatacyjne dotyczące aktywności użytkownika. Opisane dane przetwarzane są w&nbsp;celach technicznych oraz do zbierania ogólnych informacji statystycznych dotyczących funkcjonowania danego produktu lub świadczonej usługi.</p>
        <p class="bottom-margin-normal">Podmiotem zamieszczającym na urządzeniu końcowym użytkowników pliki cookies oraz uzyskującym do nich dostęp jest NE.</p>
        <h3>Pliki cookies wykorzystywane są w celu:</h3>
        <ol>
            <li>dostosowania zawartości danego produktu/usługi do preferencji użytkowników oraz optymalizacji korzystania z&nbsp;nich; w&nbsp;szczególności pliki te pozwalają rozpoznać urządzenie użytkownika i&nbsp;odpowiednio wyświetlić stronę internetową, dostosowaną do jego indywidualnych potrzeb,</li>
            <li>tworzenia statystyk, które pomagają zrozumieć, w&nbsp;jaki sposób użytkownicy danego produktu/usługi korzystają ze stron internetowych, co umożliwia ulepszanie ich struktury i&nbsp;zawartości,</li>
            <li>utrzymania sesji użytkownika stron internetowych (po zalogowaniu), dzięki której użytkownik nie musi na każdej podstronie ponownie wpisywać loginu i&nbsp;hasła.</li>
        </ol>
        <p class="bottom-margin-normal">W&nbsp;ramach świadczonej usługi lub korzystania z&nbsp;produktu stosowane są dwa zasadnicze rodzaje plików cookies: „sesyjne” (session cookies) oraz „stałe” (persistent cookies). Cookies „sesyjne” są plikami tymczasowymi, które przechowywane są w&nbsp;urządzeniu końcowym użytkownika do czasu wylogowania, opuszczenia strony internetowej lub wyłączenia oprogramowania (przeglądarki internetowej). „Stałe” pliki cookies przechowywane są w&nbsp;urządzeniu końcowym użytkownika przez czas określony w&nbsp;parametrach plików cookies lub do czasu ich usunięcia przez użytkownika.</p>
        <h3>NE stosuje następujące rodzaje plików cookies:</h3>
        <table class="cookies-table" ng-hide="isPhone">
            <tbody>
                <tr class="table-heading">
                    <td>
                        <p><strong>Nazwa Cookie</strong></p>
                    </td>
                    <td>
                        <p><strong>Rodzaj</strong></p>
                    </td>
                    <td>
                        <p><strong>Cel zapisania</strong></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>CMS</p>
                    </td>
                    <td>
                        <p>sesyjny</p>
                    </td>
                    <td>
                        <p>Przechowuje identyfikator sesji</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>but_menu_serii</p>
                    </td>
                    <td>
                        <p>sesyjny</p>
                    </td>
                    <td>
                        <p>Przechowuje dane menu</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
                <tr class="table-heading">
                    <td>
                        <p><strong>Google Analytics</strong></p>
                    </td>
                    <td>
                        <p><strong>Rodzaj</strong></p>
                    </td>
                    <td>
                        <p><strong>Cel zapisania</strong></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><u>&nbsp;</u>Utmz</p>
                    </td>
                    <td>
                        <p>trwałe</p>
                    </td>
                    <td>
                        <p>Przechowuje informacje o tym, skąd trafił do nas użytkownik</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><u>&nbsp;</u>Utma</p>
                    </td>
                    <td>
                        <p>trwałe</p>
                    </td>
                    <td>
                        <p>Przechowuje informacje o ilości wyświetleń dla danego użytkownika</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><u>&nbsp;</u>Utmb</p>
                    </td>
                    <td>
                        <p>trwałe</p>
                    </td>
                    <td>
                        <p>Przechowują czas wizyty/przebywania na stronie</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><u>&nbsp;</u>Utmc</p>
                    </td>
                    <td>
                        <p>sesyjne</p>
                    </td>
                    <td>
                        <p>Przechowują czas wizyty/przebywania na stronie</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <ol ng-show="isPhone">
            <li><strong>CMS (sesyjny)</strong> – Przechowuje identyfikator sesji</li>
            <li><strong>but_menu_serii</strong> (sesyjny) – Przechowuje dane menu</li>
            <li><strong><u>&nbsp;</u>Utmz</strong> (trwałe) – Przechowuje informacje o&nbsp;tym, skąd trafił do nas użytkownik</li>
            <li><strong><u>&nbsp;</u>Utma</strong> (trwałe) – Przechowuje informacje o&nbsp;ilości wyświetleń dla danego użytkownika</li>
            <li><strong><u>&nbsp;</u>Utmb</strong> (trwałe) – Przechowują czas wizyty/przebywania na stronie</li>
            <li><strong><u>&nbsp;</u>Utmc</strong> (sesyjne) – Przechowują czas wizyty/przebywania na stronie</li>
        </ol>
        <p class="bottom-margin-normal">W&nbsp;wielu przypadkach oprogramowanie służące do korzystania z&nbsp;produktu/usługi (przeglądarka internetowa) domyślnie dopuszcza przechowywanie plików cookies w&nbsp;urządzeniu końcowym użytkownika. Użytkownicy mogą dokonać w&nbsp;każdym czasie zmiany ustawień dotyczących plików cookies. Ustawienia te mogą zostać zmienione w&nbsp;szczególności w&nbsp;taki sposób, aby blokować automatyczną obsługę plików cookies w&nbsp;ustawieniach przeglądarki internetowej bądź informować o&nbsp;ich każdorazowym zamieszczeniu w&nbsp;urządzeniu użytkownika. Szczegółowe informacje o&nbsp;możliwości i&nbsp;sposobach obsługi plików cookies dostępne są w&nbsp;ustawieniach oprogramowania (przeglądarki internetowej) użytkownika.</p>
        <p class="bottom-margin-normal">Ograniczenie stosowania plików cookies może wpłynąć na niektóre funkcjonalności dostępne w&nbsp;ramach produktu/usługi.</p>
        <p class="bottom-margin-normal">Pliki cookies zamieszczane w&nbsp;urządzeniu końcowym użytkowników wykorzystywane mogą być również przez współpracujących z&nbsp;NE partnerów umożliwiając personalizację działalności reklamowej i&nbsp;rozliczanie jej efektów. Polityka Prywatności nie reguluje sposobu wykorzystywania plików cookies przez partnerów. Więcej informacji o&nbsp;tych plikach może być dostępnych na poszczególnych stronach partnerów NE.</p>
        <p>Więcej informacji na temat plików cookies dostępnych jest pod adresem <a href="http://www.wszystkoociasteczkach.pl/" target="_blank">www.wszystkoociasteczkach.pl</a> lub w&nbsp;sekcji „Pomoc” w menu przeglądarki internetowej.</p>
    </div>
</div>