<div class="container-wrapper">
    <a href back ng-hide="isPhone">
        <div class="table back-btn">
            <div class="row">
                <div class="filter-button cell">
                   <div class="icon-sheet arrow-left"></div>
                </div>
                <div class="cell btn-caption">wróć do<br />poprzedniego ekranu</div>
            </div>
        </div>
    </a>
    <a href back ng-hide="!isPhone">
        <div class="table back-btn">
            <div class="row">
                <div class="filter-button cell">
                   <div class="icon-sheet arrow-left"></div>
                </div>
                <div class="cell btn-caption">wróć do<br />poprzedniego ekranu</div>
            </div>
        </div>
    </a>
</div>
<div class="container-wrapper">
    <div class="infotext-container">
        <p>© Copyright by Nowa Era Sp. z o.o. 2017</p>
        <p><strong>Koordynacja projektu:</strong> Edyta Ładna, Arkadiusz Ignaciuk</p>
        <p><strong>Realizacja:</strong> Adam Gierasimiuk</p>
        <p><strong>Redakcja merytoryczna:</strong> Magdalena Bartosik, Justyna Kamińska</p>
        <p><strong>Fotoedycja:</strong> Beata Chromik</p>
        <p><strong>Fotografie:</strong> BE&W - Charles D.&nbsp;Winters (fosfor biały i&nbsp;czerwony, fulereny), SCIENCE SOURCE/Biophoto Associates (nikiel), WENN (diament); BMW Group (cynkowanie); CERN (LHC); East News - Mark A.&nbsp;Schneider (srebro), SPL (zegar atomowy, zegar iterbowy); Włodzimierz Echeński - brom, chlor, jod, cyna, glin, obiektyw, rtęć, siarka, sód, stop Wooda, szkło laboratoryjne, węgiel drzewny);  FotoChannels/Corbis - Ken Lucas/Visuals Unlimited (platyna), Lester V.&nbsp;Bergman (grafit), Mark Schneider/Visuals Unlimited (miedź), Theodore Gray/Visuals Unlimited, Inc. (98 zdjęć pierwiastków z&nbsp;Układu Okresowego UOP); Piotr Kubot/Putto (potas, wapń, fosfor); Jarosław Ładny (mosiądz); MediumPhoto - David Wrobel/Visuals Unlimited (siarka rombowa), Mark Schneider/Visuals Unlimited (siarka jednoskośna), Wally Eberhart/Visuals Unlimited (krzem); Mercedes-Benz Polska Sp. z o.o. (katalizator); NASA/JPL (Mars Reconnaissance Orbiter, sonda Galileo): PantherMedia - Aaron Amat (kamień w&nbsp;zapalniczce), Anton Starikov (oporniki), cherkas (kamera HD), Hans-Joachim Schneider (naboje), Hans-Peter Waack (szyny), Herbert Kratky (oświetlony pas na lotnisku), Ines Weiland-Weiser (fluoroscencyjne patyczki), Khuruchon Chanthanyakorn (rozrusznik serca), Meseritsch Herby (proteza kości biodrowej), Miguel Ros n&nbsp;(jarzeniówka), Nikita Sobolkov (świexca zapłonowa), Nikita Sobolkov (termowizjer), Peter Klette (ultrafiolet - banknot), picsfive (folia aluminiowa), Rüdiger Rebmann (radar), serezniy (kostka magnetyczna), TONO BALAGUER (teleskop słoneczny), Vincenzo Bianco (spawanie argonem), Willy Deganello (grafit), xavier gallego morell (inhalator); Shutterstock: (betoniarka, butelki niebieskie, czcionka drukarska, impregnacja drewna, lampa anodowa, lampa rtęciowa, łożysko, produkcja lodów, reflektor samochodowy, rentgen dentystyczny, scyntygrafia, silnik odrzutowy, stalówka, wybuch bomby, zapalanie zapałki, złoto), Constantinos (lutowanie), Jessie Eldora (szkło trawione), Kletr (płonący węgiel), nikkytok (laser czerwony), Tan Kian Khoon (kserokopiarka); Thinkstock/Getty Images - Comstock (światłowód), Digital Vision (stal), Digital Vision/Michael Blann (balon meteorologiczny), Goodshoot (światłowód), Hemera/AbleStock.com (neon), Hemera/Andrzej Kwiatkowski (światła ksenonowe), Hemera/Clay Fowler (lampa metalohalogenkowa), Hemera/Dmitriy Tereschenko (rury pvc), Hemera/Dmitry Parvanyan (sygnet platynowy), Hemera/igor terekhov (spawacz), Hemera/Juri Samsonov (termometr rtęciowy), Hemera/Pavlo Vakhrushev (fajerwerki), Hemera/Sebastian Kaulitzki (srebne pierścionki), Huntstock (ciekły azot), iStock (brylanty), iStock/100rehanphoto (smar do silnika), iStock/Alberto Martelli (chipsy), iStock/Alessio Bogani (grzyb atomowy), iStock/Alexander Anikeev (nić chirurgiczna), iStock/Alexander Khromtsov (mikroelementy elektroniczne), iStock/allanswart (odcisk palca), iStock/Coprid (rama okna), iStock/Devonyu (włókna żarówki), iStock/dgstudiodg (drut miedziany), iStock/Dino Ablakovic (laser niebieski), iStock/Don Bayley (podwozie samochodu), iStock/DragonImages (basen), iStock/Dusan Kostic (płyn na szkodniki), iStock/Eimantas Buzas (żarówki ksenonowe), iStock/Emrah Turudu (laser dentystyczny), iStock/eyewave (platynowe obrączki), iStock/Glenr1975 (iskra zapalniczki), iStock/GRAZVYDAS (złote obrączki), iStock/hanhanpeggy (jodyna), iStock/Honorata Kawecka (kontakt), iStock/JoLin (margaryna), iStock/Joni Rantasalo (spawacz), iStock/José María Bouza (płyta drukarska), iStock/Juri Samsonov (1&nbsp;euro), iStock/knotsmaster (silniczki elektryczne), iStock/Lusoimages (lampa sodowa), iStock/Mark Kostich (radioterapia), iStock/Martin Konopka (włókno żarówki), iStock/mhnewmedia (sztuczne ognie), iStock/Mikhail Kokhanchikov (migawka), iStock/Mishella (niklowane części motocykla), iStock/newphotoservice (kran), iStock/Nikita Sobolkov (spawacz), iStock/Oleg Rubik (lampa próżniowa), iStock/Oleksiy Mark (laptop), iStock/onairda (dzwon), iStock/pressureUA (kompas), iStock/Rostislav Ageev (nurek), iStock/Ruslan Kerimov (narzędzia chirurgiczne), iStock/silverjohn (układ scalony), iStock/Singkham (nawozy sztuczne), iStock/SpaceManKris (elektrownia atomowa), iStock/TomasSereda (rafineria), iStock/Vanderkerken Jan (baterie Ni-Cd), iStock/Wellford Tiller (pióro wieczne), Medioimages/Photodisc (żelazny płot), Photodisc (flara), Photodisc/HomePixel (kineskop), Photodisc/Ryan McVay (opony), Photodisc/Spike Mafford (światłowód), Polka Dot (czujnik dymu), Stockbyte (start rakiety), Stocktrek (Bajkonur), Wavebreak Media (pasta do zębów), Zoonar/P.Malyshev (żółty słoik).</p>
    </div>
</div>