<div class="container-wrapper">
    <a href back ng-hide="isPhone">
        <div class="table back-btn">
            <div class="row">
                <div class="filter-button cell">
                   <div class="icon-sheet arrow-left"></div>
                </div>
                <div class="cell btn-caption">wróć do<br />poprzedniego ekranu</div>
            </div>
        </div>
    </a>
    <a href back ng-hide="!isPhone">
        <div class="table back-btn">
            <div class="row">
                <div class="filter-button cell">
                   <div class="icon-sheet arrow-left"></div>
                </div>
                <div class="cell btn-caption">wróć do<br />poprzedniego ekranu</div>
            </div>
        </div>
    </a>
</div>
<div class="container-wrapper">
    <div class="infotext-container">
        <h2>Jak się z nami skontaktować?</h2>
        <p>Wybierz najwygodniejszy dla siebie sposób kontaktu, a&nbsp;chętnie udzielimy Ci niezbędnej pomocy, przekażemy wszelkie potrzebne informacje.</p>
        <h3>Zadzwoń</h3>
        <p><strong>801 88 10 10</strong> (z telefonów stacjonarnych)</p>
        <p><strong>58 721 48 00</strong> (z telefonów komórkowych)</p>
        <p>fax: 58 721 48 50</p>
        <h3>Napisz</h3>
        <p>Nowa Era Sp. z o.o.</p>
        <p>Aleje Jerozolimskie 146D</p>
        <p>02-305 Warszawa</p>
        <p><strong>e-mail:</strong> kontakt@ukladokresowy.edu.pl</p>
    </div>
</div>