<section id="intro-screen" class="doNotPrint">
    <div class="full-screen-bg">
        <div class="bg-background"></div>
        <video ng-if="showVideo" autoplay="" loop="" poster="img/bg-fallback.jpg" id="bgvid" class="bg-background">
            <source src="video/bg_vid_fotolia.mp4" type="video/mp4">
        </video>
        <div class="title-page-container">
            <img class="title-logo" src="img/app-logo.png" alt="układ okresowy pierwiastków chemicznych">
            <a ng-href="#/forma/{{layoutSwitch}}"><div class="title-button first-title-button">Wejdź</div></a>
            <a ng-href="#/quiz"><div class="title-button">Rozwiąż quiz</div></a>
            <a ng-href="#/tutorial"><div class="title-button">Jak odczytywać dane?</div></a>
            <a href="https://www.nowaera.pl/" target="_blank" class="height-logo-bg">
                <img src="img/ne-logo-alpha.png" alt="nowa era">
            </a>
        </div>
        <a href="https://www.nowaera.pl/" target="_blank" class="logo-bg">
            <img src="img/ne-logo-alpha.png" alt="nowa era">
        </a>
    </div>
</section>