<header>
    <div class="custom-header-wrapper"> 
        <div class="container-wrapper">
            <nav class="custom-tab-container">
            	<a ng-href="#/home">
	                <div class="logo-header logo-header-small" ng-mouseenter="logoTrigger = !logoTrigger" ng-mouseleave="logoTrigger = !logoTrigger">
                        <img ng-show="!logoTrigger" src="img/header-logo.png" alt="nowa era" />
                        <img ng-show="logoTrigger" src="img/header-logo-hover.png" alt="nowa era" />
                    </div>
	            </a>
                <span>
                    <a ng-href="#/phone" class="custom-tab-link" ng-class="{ 'is-active': isActive('uklad') }"><div ng-click="setTab('uklad')"><div class="icon-sheet menu-list"></div><div class="tab-text">Lista</div></div></a>
                    <a ng-href="#/porownywarka" class="custom-tab-link" ng-class="{ 'is-active': isActive('compare') }"><div ng-click="setTab('compare')"><div class="icon-sheet compare"></div><div class="tab-text">Porównaj</div></div></a>
                </span>
            </nav>
        </div>
    </div>
</header>

<div class="bottom-margin-normal doNotPrint">
    <div filter-menu></div>
    <div class="container-wrapper pos-relative">
        <div class="filter-button" ng-click="filterTriggerChange()">
            <div class="filter-button-container" ng-show="!filterTrigger"><div class="filter-button-text">opcje wyświetlania</div><div class="icon-sheet arrow-down filter-button-icon"></div></div>
            <div class="filter-button-container" ng-show="filterTrigger"><div class="filter-button-text">opcje wyświetlania</div><div class="icon-sheet arrow-up filter-button-icon"></div></div>
        </div>
    </div>
</div>

<div class="layout-wrapper phone-layout-wrapper doNotPrint" ng-controller="TileController" ng-init="scrollToSelected(currId)">
	<div class="container-wrapper">
		<div class="searchBox-wrapper">
	        <input type="text" ng-model="searchBox" placeholder="Szukaj..." maxlength="15">
	        <div class="search-icon-container"><div class="icon-sheet search-icon"></div></div>
	    </div>
	</div>
	<div ng-repeat="tile in tilesData | filter: compareSearch" ng-id="{{tile.a_number - 1}}" data-id="{{$index}}" class="repeat-wrapper" ng-class="{ 'row-selected': tile.a_number == tilesData[currId].a_number }">
		<div class="row-wrapper">
			<div class="elem-wrapper">
				<div class="tile-wrapper"
					 ng-class="{ selected: tile.a_number == tilesData[currId].a_number,
					 			 isMetal: isMetal && !tile.metal,
					 			 isNotMetal: isMetal && tile.metal,
					 			 isGrupa: isGrupa && tilesData[currId].grupa == tile.grupa && tile.grupa,
	 							 isOkres: isOkres && tilesData[currId].okres == tile.okres,
	 							 blokS: isBlok && (tile.grupa <= 2 || tile.symbol == 'He'),
                                 blokP: isBlok && tile.grupa >= 3 && tile.grupa <= 12,
                                 blokD: isBlok && tile.grupa >= 13 && tile.grupa <= 18 && tile.symbol != 'He',
                                 blokF: isBlok && tile.grupa == null 
					 			}"
					 ng-click="isSelected(tile.a_number - 1)">

					<div ng-show="isRoyal">
						<span class="royal-wrapper" ng-show="tile.royal">&shy;</span>
					</div>
					<div ng-show="isState">
						<span class="liquid-wrapper" ng-show="tile.state == 'ciecz'">&shy;</span>
						<span class="gas-wrapper" ng-show="tile.state == 'gaz'">&shy;</span>
					</div>

					<div ng-hide="tileSwitch != 'eleval'">
						<div class="val-top-wrapper val-dot-wrapper">{{::tile.val_top}}</div>
						<div class="val-left-wrapper val-dot-wrapper">{{::tile.val_left}}</div>
						<span class="symbol-wrapper">{{::tile.symbol}}</span>
						<div class="val-right-wrapper val-dot-wrapper">{{::tile.val_right}}</div>
						<div class="val-bottom-wrapper val-dot-wrapper">{{::tile.val_bottom}}</div>
					</div>	

					<div class="symbol-num-wrapper" ng-hide="tileSwitch == 'eleval'">
						<span class="atom-num-wrapper">{{::tile.a_number}}</span>
						<span class="symbol-wrapper">{{::tile.symbol}}</span>
					</div>
				</div>
			</div>
			<div class="row-wrapper">
	            <div class="zoom-button" ng-click="showDetails(tile.a_number-1)">
	                <div class="table"><div class="row"><div class="cell">właściwości</div><div class="icon-sheet link cell"></div></div></div>
	            </div>
	        </div> 
			<div class="desc-wrapper">
				<p><strong>Nazwa:</strong> {{::tile.name}}</p>
				<p><strong>Liczba atomowa:</strong> {{::tile.a_number}}</p>
				<p ng-hide="tileSwitch != 'amass'"><strong>Rok odkrycia:</strong> {{::tile.year}}</p>
				<p ng-hide="tileSwitch != 'amass'"><strong>Masa atomowa:</strong> {{::tile.a_mass}} u</p>
				<p ng-hide="tileSwitch != 'izomass'"><strong>Liczby masowe występujących<br />w&nbsp;przyrodzie izotopów </strong><span tooltips tooltip-side="left" tooltip-template="dla pierwiastków chemicznych otrzymanych sztucznie podano liczby masowe najważniejszych izotopów" tooltip-show-trigger="touchend mouseover" tooltip-hide-trigger="mouseleave focusout" tooltip-close-button="true"><span class="tooltip-icon icon-sheet tooltip-btn"></span></span> : {{::tile.izo_mass}}</p>
				<p ng-hide="tileSwitch != 'valence'"><strong>Wartościowość:</strong> {{::tile.valence}}</p>
				<p ng-hide="tileSwitch != 'oxidation'"><strong>Stopnie utlenienia:</strong> {{::tile.oxidation}}</p>
				<p ng-hide="tileSwitch != 'electronegativity'"><strong>Elektroujemność:</strong> {{::tile.electronegativity}}</p>
				<p ng-hide="tileSwitch != 'eleval'"><strong>Liczba elektronów walencyjnych:</strong> {{::tile.val_num}}</p>
				<p ng-show="isGrupa && tile.grupa"><strong>Grupa:</strong> {{::(tile.grupa | num) || "–"}} <span ng-show="tile.group_name"><strong> Nazwa grupy:</strong> {{::tile.group_name}}</span></p>
				<p ng-show="isOkres"><strong>Okres:</strong> {{::tile.okres}}</p>
				<p ng-show="isMetal"><strong>Metal:</strong> {{::tile.metal ? "tak" : "nie"}}</p>
				<p ng-show="isRoyal"><strong>Gaz szlachetny:</strong> {{::tile.royal ? "tak" : "nie"}}</p>
				<p ng-show="isState"><strong>Stan skupienia:</strong> {{::tile.state}}</p>
			</div>
		</div>	
	</div>
</div>

<div class="scroll-btn-holder doNotPrint" ng-show="scrollBool">
	<div class="table back-btn">
	    <div class="row">
	        <div class="filter-button cell" ng-click="scrollUp()">
	           <div class="icon-sheet arrow-up"></div>
	        </div>
	    </div>
	</div>
</div>

<footer>
    <div class="container-wrapper">
        <div class="logo-block">
            <a href="https://www.nowaera.pl/" target="_blank" class="footer-logo"><img src="img/ne-logo-bw.png" alt="nowa era"></a>
            <div class="footer-text">
                © Copyright by Nowa Era Sp. z o.o. 2017<br>
                Wszelkie prawa zastrzeżone.
            </div>
            <div class="footer-menu">
                <ul>
                    <li><a ng-href="#/kontakt">KONTAKT</a></li>
                    <li><a ng-href="#/copyright">COPYRIGHT</a></li>
                    <li><a ng-href="#/cookies-polityka">POLITYKA COOKIES</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>