<header>
    <div class="custom-header-wrapper"> 
        <div class="container-wrapper">
            <nav class="custom-tab-container uklad">
            	<a ng-href="#/home" ng-mouseenter="logoTrigger = !logoTrigger" ng-mouseleave="logoTrigger = !logoTrigger">
                    <div class="logo-header">
                        <img ng-show="logoTrigger" src="img/header-logo-big.png" alt="nowa era" />
                        <img ng-show="!logoTrigger" src="img/header-logo-big-hover.png" alt="nowa era" />
                    </div>
                    <div class="logo-header logo-header-small">
                        <img ng-show="!logoTrigger" src="img/header-logo.png" alt="nowa era" />
                        <img ng-show="logoTrigger" src="img/header-logo-hover.png" alt="nowa era" />
                    </div>
                </a>
                <span>
                    <a ng-href="#/forma/{{layoutSwitch}}" class="custom-tab-link" ng-class="{ 'is-active': isActive('uklad') }" ng-hide="isPhone"><div ng-click="setTab('uklad')"><div class="icon-sheet period"></div><div class="tab-text">Układ okresowy</div></div></a>
                    <a ng-href="#/phone" class="custom-tab-link" ng-class="{ 'is-active': isActive('uklad') }" ng-show="isPhone"><div ng-click="setTab('uklad')"><div class="icon-sheet menu-list"></div><div class="tab-text">Lista</div></div></a>
                    <a ng-href="#/porownywarka" class="custom-tab-link" ng-class="{ 'is-active': isActive('compare') }" ng-hide="isPhone"><div ng-click="setTab('compare')"><div class="icon-sheet compare"></div><div class="tab-text">Porównaj pierwiastki</div></div></a>
                    <a ng-href="#/porownywarka" class="custom-tab-link" ng-class="{ 'is-active': isActive('compare') }" ng-show="isPhone"><div ng-click="setTab('compare')"><div class="icon-sheet compare"></div><div class="tab-text">Porównaj</div></div></a>
                </span>
            </nav>
        </div>
    </div>
</header>

<div class="container-wrapper" compare-table></div>

<footer>
    <div class="container-wrapper">
        <div class="logo-block">
            <a href="https://www.nowaera.pl/" target="_blank" class="footer-logo"><img src="img/ne-logo-bw.png" alt="nowa era"></a>
            <div class="footer-text">
                © Copyright by Nowa Era Sp. z o.o. 2017<br>
                Wszelkie prawa zastrzeżone.
            </div>
            <div class="footer-menu">
                <ul>
                    <li><a ng-href="#/kontakt">KONTAKT</a></li>
                    <li><a ng-href="#/copyright">COPYRIGHT</a></li>
                    <li><a ng-href="#/cookies-polityka">POLITYKA COOKIES</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>