<header>
    <div class="custom-header-wrapper quizactive"> 
        <div class="container-wrapper">
            <nav class="custom-tab-container">
            	<a ng-href="#/home" ng-mouseenter="logoTrigger = !logoTrigger" ng-mouseleave="logoTrigger = !logoTrigger">
                    <div ng-hide="isPhone" class="logo-header">
                        <img ng-show="logoTrigger" src="img/header-logo-big.png" alt="nowa era" />
                        <img ng-show="!logoTrigger" src="img/header-logo-big-hover.png" alt="nowa era" />
                    </div>
                    <div ng-show="isPhone" class="logo-header logo-header-small">
                        <img ng-show="!logoTrigger" src="img/header-logo.png" alt="nowa era" />
                        <img ng-show="logoTrigger" src="img/header-logo-hover.png" alt="nowa era" />
                    </div>
                </a>
            </nav>
        </div>
    </div>
</header>

<div class="container-wrapper quiz-wrapper">
	<div class="quiz-range-wrapper" ng-show="!startedQuiz">
		<div class="infotext-container">
			<h2 class="text-center">Wybierz Quiz</h2>
		</div>
		<div class="table">
			<div class="row">
    			<div class="cell range-cell">
    				<section class="menu-card-wrapper">
	    				<div class="range-question-title text-center">
	    					Quiz 1
	    				</div>
	    				<p>Sprawdź, czy znasz symbole i&nbsp;nazwy pierwiastków chemicznych.</p>
	    				<p class="top-margin-normal">10 pytań sprawdza wiedzę na temat losowo wybranych pierwiastków chemicznych z&nbsp;zaznaczonych grup.</p>
		    			<div class="top-margin-normal">
		    				<p><strong>Chcę sprawdzić znajomość:</strong></p>
		    				<form>
		                        <div class="cell range-cell dontbreak">
		                            <input id="symbolquiz2" type="radio" ng-model="selectedquestionType" value="symbol" name="questionTypeQuiz2">
		                            <label for="symbolquiz2">nazw</label>               
		                        </div>
		                        <div class="cell range-cell dontbreak">
		                            <input id="nazwaquiz2" type="radio" ng-model="selectedquestionType" value="nazwa" name="questionTypeQuiz2">
		                            <label for="nazwaquiz2">symboli</label>
		                        </div>
			                </form>
		    			</div>
		    			<div class="top-margin-normal">
				    		<p><strong>Zaznacz grupy, których ma dotyczyć quiz:</strong></p>
							<div class="table quiz1-range listSearchBox-wrapper">
								<div class="row">
									<div class="cell">
						                <div>
						                	<input id="grupyA" type="checkbox" ng-click="selectArrayRange([1,2], 'grupyA')">
						                    <label for="grupyA">grupy główne 1.&#8211;2.</label>
						                </div>
						                <div>
						                	<input id="grupyB" type="checkbox" ng-click="selectArrayRange([3,4,5,6,7,8,9,10,11,12], 'grupyB')">
						                    <label for="grupyB">grupy poboczne 3.&#8211;12.</label>
						                </div>
						                <div>
						                	<input id="grupyC" type="checkbox" ng-click="selectArrayRange([13,14,15,16,17,18], 'grupyC')">
						                    <label for="grupyC">grupy główne 13.&#8211;18.</label>
						                </div>
						                <div>
						                	<input id="grupyD" type="checkbox" ng-click="selectArrayRange([19,20], 'grupyD')">
						                    <label for="grupyD">lantanowce i&nbsp;aktynowce</label>
						                </div>
						            </div>
						            <div class="cell pos-relative">
						                <div class="searchBox-wrapper searchBox-highlighter">
									        <input class="dropdown-list-container" type="text" ng-model="searchBox" ng-model-options="{ debounce: 200 }" ng-click="toggleQuizList();" readonly="readonly">
									        <p ng-show="!listQuizTrigger">wybierz z&nbsp;listy</p>
									        <p ng-show="listQuizTrigger">zamknij listę</p>
									        <div class="search-icon-container">
									            <div class="icon-sheet arrow-down" ng-show="listQuizTrigger"></div>
									            <div class="icon-sheet arrow-up" ng-show="!listQuizTrigger"></div>
									        </div>
									        <ol class="dropdown-list" ng-show="listQuizTrigger">
									            <li ng-repeat="grupa in rangeSelectionData track by $index">
									                <input id="{{'quizbox_' + ($index + 1)}}" type="checkbox" ng-model="tempRangeArray" ng-click="selectRange($index + 1)">
						                        	<label for="{{'quizbox_' + ($index + 1)}}" ng-bind-html="grupa">{{grupa}}</label>
									            </li>
									        </ol>
									    </div>
						            </div>
						        </div>
					        </div>   
						</div>
						<div class="top-margin-big">
			    			<div class="quiz-range-button start-quiz pos-relative" id="quiz-names" ng-click="generateQuiz('quiz2')" ng-class="{inactive: !hasGoodRange}">
	    						rozpocznij
	    						<div class="quiz-tooltip" ng-if="!hasGoodRange">Zaznacz więcej grup</div>
	    					</div>
	    				</div>
					</section>
    			</div>
    			<div class="cell range-cell second-range-cell">
    				<section class="menu-card-wrapper">
	    				<div class="range-question-title text-center">
	    					Quiz 2
	    				</div>
	    				<p>Sprawdź, czy potrafisz odczytywać informacje z układu okresowego pierwiastków chemicznych.</p>
	    				<div class="top-margin-normal">
		    				<p><strong>Wybierz liczbę pytań:</strong></p>
		    				<form>
		                        <div class="cell range-cell dontbreak">
		                            <input id="no5quiz1" type="radio" ng-model="selectedquestionNum1" value="0" name="questionNoQuiz1">
		                            <label for="no5quiz1">5</label>               
		                        </div>
		                        <div class="cell range-cell dontbreak">
		                            <input id="no10quiz1" type="radio" ng-model="selectedquestionNum1" value="1" name="questionNoQuiz1">
		                            <label for="no10quiz1">10</label>
		                        </div>
		                        <div class="cell range-cell dontbreak">
		                            <input id="no15quiz1" type="radio" ng-model="selectedquestionNum1" value="2" name="questionNoQuiz1">
		                            <label for="no15quiz1">15</label>
		                        </div>
			                </form>
				    	</div>
				    	<div class="top-margin-big">
			    			<div class="quiz-range-button start-quiz" id="quiz-general" ng-click="generateQuiz('quiz1')">rozpocznij</div>
	    				</div>
				    </section>
    			</div>
    		</div>
    	</div>
	</div>

	<div class="quiz-report-container" ng-show="startReport">
		<div class="table">
            <div class="row">
                <div class="cell report-cell">
					<div class="progress-circle p{{quizResult}}" ng-class="{over50: quizResult > 50}">
					   <span>{{quizResult}}%</span>
					   <div class="left-half-clipper">
					      <div class="first50-bar"></div>
					      <div class="value-bar"></div>
					   </div>
					</div>
				</div>
				<div class="cell report-cell">
					<div class="quiz-question-title">
						<span ng-if="(quizResult <= 100) && (quizResult >= 93)">Wspaniale!</span>
						<span ng-if="(quizResult < 93) && (quizResult >= 80)">Bardzo dobrze!</span>
						<span ng-if="(quizResult < 80) && (quizResult > 53)">Nieźle, ale stać Cię na więcej!</span>
						<span ng-if="(quizResult < 53) && (quizResult >= 40)">Prawie dobrze!</span>
						<span ng-if="(quizResult < 40) && (quizResult >= 0)">Stać cię na więcej!</span>
					</div>
					<div class="report-text">Poprawne odpowiedzi: <span class="report-good">{{correctAnswers.length}} / {{questionNum}}</span></div>
					<div class="report-text">Niepoprawne odpowiedzi: <span class="report-bad">{{wrongAnswers.length}} / {{questionNum}}</span></div>
					<div class="table">
            			<div class="row">
                			<div class="cell">
                				<div class="quiz-range-button" ng-click="repeatQuiz()">następny quiz</div>
                			</div>
                			<div class="cell">
                				<div class="quiz-range-button" ng-click="endQuiz()">zakończ</div>
                			</div>
                		</div>
                	</div>
				</div>
			</div>
		</div>
	</div>

	<section class="top-margin-normal" ng-if="startedQuiz">
		<div class="quiz-button-wrapper" ng-hide="startReport">
			<div class="quiz-range-button" ng-click="endQuiz()" ng-show="startedQuiz">zakończ</div>
			<div class="quiz-range-button green-button" ng-click="generateReport()" ng-show="endedQuiz" id="quiz-end">sprawdź wynik</div>
		</div>
		<div class="quiz-anwser-nav" ng-hide="startReport">
			<div class="table back-btn quiz-normal-nav">
	            <div class="row">
	            	<div class="cell prev-btn" ng-class="{inactive: minusButtonOff}">
		                <div class="filter-button" ng-click="currQuestionMinus()">
		                   <div class="icon-sheet arrow-left"></div>
		                </div>
		                <div class="btn-caption" ng-click="currQuestionMinus()">poprzednie</div>
		            </div>
		            <div class="cell middle-cell">
		            	<div class="quiz-progress-wrapper">
							<div class="nav-quiz-wrapper" ng-repeat="item in getNumber(questionNum) track by $index" ng-class="{active: ($index + 1) == currQuestion}" ng-click="setCurrQuestion($index + 1)" data-id="dot_{{$index}}">
								<div class="nav-quiz-num">{{$index + 1}}</div>
								<div class="nav-quiz-dot" ng-class="{active: ($index + 1) == currQuestion}">&#9679;</div>
								<div class="nav-quiz-circle">&#9679;</div>
							</div>
						</div>
		            </div>
		            <div class="cell next-btn" ng-class="{inactive: plusButtonOff}">
		            	<div class="btn-caption" ng-click="currQuestionPlus()">następne</div>
		            	<div class="filter-button" ng-click="currQuestionPlus()">
		                   	<div class="icon-sheet arrow-right"></div>
		                </div>
		            </div>
	            </div>
	        </div>
	        <div class="table back-btn quiz-tiny-nav">
	        	<div class="row">
	            	<div class="cell prev-btn" ng-class="{inactive: minusButtonOff}">
		                <div class="filter-button" ng-click="currQuestionMinus()">
		                   <div class="icon-sheet arrow-left"></div>
		                </div>
		                <div class="btn-caption" ng-click="currQuestionMinus()">poprzednie</div>
		            </div>
		            <div class="cell next-btn" ng-class="{inactive: plusButtonOff}">
		            	<div class="btn-caption" ng-click="currQuestionPlus()">następne</div>
		            	<div class="filter-button" ng-click="currQuestionPlus()">
		                   	<div class="icon-sheet arrow-right"></div>
		                </div>
		            </div>
	            </div>
	        </div>
		</div>

		<div class="quiz-card-wrapper" ng-repeat="item in questionList track by $index" ng-show="(($index + 1) == currQuestion) || startReport" ng-class="{quizUno: selectedQuiz == 'quiz2'}">
			<div class="quiz-question-wrapper">
				<div ng-if="(selectedQuiz == 'quiz2') && (selectedquestionType == 'symbol')" class="quiz-question">Zaznacz nazwę pierwiastka chemicznego o&nbsp;podanym symbolu.</div>
				<div ng-if="(selectedQuiz == 'quiz2') && (selectedquestionType == 'nazwa')" class="quiz-question">Zaznacz symbol pierwiastka chemicznego o&nbsp;podanej nazwie.</div>
				<div ng-if="selectedQuiz == 'quiz1'" class="quiz-question" ng-bind-html="questionList[$index].question"></div>

				<div class="quiz-example" ng-if="questionList[$index].example != null">

					<section ng-if="selectedQuiz == 'quiz1'">
						<div class="row-wrapper" ng-if="questionList[$index].example == 'tile'">
							<div class="elem-wrapper">
								<div class="tile-wrapper">
									<div class="symbol-num-wrapper">
										<span class="atom-num-wrapper">{{::subjectList[$index].a_number}}</span>
										<span class="symbol-wrapper">{{::subjectList[$index].symbol}}</span>
									</div>
									<div>
				                        <div class="name-wrapper">{{::subjectList[$index].name}}</div>
				                        <div class="atom-mass-wrapper">{{::subjectList[$index].a_mass}}</div>
				                    </div>
								</div>
							</div>
						</div>

						<div class="row-wrapper" ng-if="questionList[$index].example == 'tile_noname'">
							<div class="elem-wrapper">
								<div class="tile-wrapper">
									<div class="symbol-num-wrapper">
										<span class="atom-num-wrapper">{{::subjectList[$index].a_number}}</span>
										<span class="symbol-wrapper">{{::subjectList[$index].symbol}}</span>
									</div>
									<div>
				                        <div class="name-wrapper">.............</div>
				                        <div class="atom-mass-wrapper">{{::subjectList[$index].a_mass}}</div>
				                    </div>
								</div>
							</div>
						</div>

						<section ng-if="questionList[$index].example == 'double-tile'">
							<div class="row-wrapper" ng-repeat="tiles in answerList[$index] track by $index">
								<div class="elem-wrapper" ng-if="isNumber(tiles.answer)">
									<div class="tile-wrapper">
										<div class="symbol-num-wrapper">
											<span class="atom-num-wrapper">{{::tilesData[tiles.answer].a_number}}</span>
											<span class="symbol-wrapper">{{::tilesData[tiles.answer].symbol}}</span>
										</div>
										<div>
					                        <div class="name-wrapper">{{::tilesData[tiles.answer].name}}</div>
					                        <div class="atom-mass-wrapper">{{::tilesData[tiles.answer].a_mass}}</div>
					                    </div>
									</div>
								</div>
							</div>
						</section>

						<div ng-if="questionList[$index].example == 'symbol'">
							<div class="quiz-example-symbol pos-relative">
								{{::subjectList[$index].symbol}}
								<div class="quiz-example-massnum">{{::subjectList[$index].mass_number}}</div>
								<div class="quiz-example-anum">{{::subjectList[$index].a_number}}</div>
							</div>
						</div>
						<div ng-if="questionList[$index].example == 'atomic_number'">
							<div class="quiz-example-symbol pos-relative">
								{{::subjectList[$index].a_number}}
							</div>
							<div quiz-preview></div>
						</div>

						<div class="quiz-example-shell" ng-if="questionList[$index].example == 'shell'">
							<div class="svg-container">
								<svg class="my-svg" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 336 140">
									<g>
										<g class="core">
											<circle cx="27" cy="70" r="25" fill-opacity="0.0" stroke="#58595b" stroke-width="2" />
											<text x="27" y="76" font-size="16">
												<tspan text-anchor="middle">+{{::subjectList[$index].a_number}}</tspan>
											</text>
										</g>
									</g>
									<g class="shell" ng-repeat="item in elektronShellList[$index]">
										<ellipse  cx="22" cy="70" ng-rx="{{65 + 36*$index}}" ng-ry="{{90 + 30*$index}}" fill-opacity="0.0" stroke="#b1dcf0" stroke-width="2" />
										<text ng-x="{{105 + 36*$index}}" y="76" font-size="14">
											<tspan text-anchor="middle">{{::item.index}}e<tspan dy="-5">&#x2212;</tspan></tspan>
										</text>
										<rect fill="#ffffff" ng-x="{{60 + 37*$index}}" y="118" height="25" width="25" />
										<text ng-x="{{72 + 37*$index}}" y="135" font-size="16">
											<tspan text-anchor="middle" font-style="italic" ng-bind-html="shellList[$index]">{{::shellList[$index]}}</tspan>
										</text>
									</g>
								</svg>
							</div>
						</div>

						<div class="quiz-example-img" ng-if="questionList[$index].example == 'image'">
							<img class="quiz-img" ng-src="{{questionList[$index].src}}" alt="quiz_{{$index}}" />
						</div>

						<div class="quiz-example-preview" ng-if="questionList[$index].example == 'preview'" ng-class="{metals: questionList[$index].metals}">
							<div quiz-preview ng-init="getPreviewId(indexArray[$index], questionList[$index].showGrupa, questionList[$index].showOkres, $index, selectedArray, questionList[$index].arrow)"></div>
						</div>
					</section>

					<section ng-if="selectedQuiz == 'quiz2'">
						<div ng-if="selectedquestionType == 'symbol'">
							<div class="quiz-example-symbol margin-right-reset">
								{{::quizDisplayArray[$index].symbol}}
							</div>
						</div>

						<div ng-if="selectedquestionType == 'nazwa'">
							<div class="quiz-example-symbol margin-right-reset">
								{{::quizDisplayArray[$index].name}}
							</div>
						</div>
					</section>
				</div>
			</div>

			<div class="quiz-anwser-wrapper table">
	            <form class="row">
	                <div class="anwser-cell cell">
	                    <div class="anwser-container">
	                        <input id="{{$index}}_anwser_0" type="radio" ng-model="quizAnswer" value="0" name="radioQuiz" ng-change='checkAnswer($index, 0)' ng-disabled="quizAnswer">
	                        <label for="{{$index}}_anwser_0" ng-bind-html="answerList[$index][0].display"></label>               
	                    </div>
	                    <div class="anwser-container">
	                        <input id="{{$index}}_anwser_1" type="radio" ng-model="quizAnswer" value="1" name="radioQuiz" ng-change='checkAnswer($index, 1)' ng-disabled="quizAnswer">
	                        <label for="{{$index}}_anwser_1" ng-bind-html="answerList[$index][1].display"></label>
	                    </div>
	                </div>
	                <div class="anwser-cell cell">
	                    <div class="anwser-container">
	                        <input id="{{$index}}_anwser_2" type="radio" ng-model="quizAnswer" value="2" name="radioQuiz" ng-change='checkAnswer($index, 2)' ng-disabled="quizAnswer">
	                        <label for="{{$index}}_anwser_2" ng-bind-html="answerList[$index][2].display"></label>
	                    </div>
	                    <div class="anwser-container">
	                        <input id="{{$index}}_anwser_3" type="radio" ng-model="quizAnswer" value="3" name="radioQuiz" ng-change='checkAnswer($index, 3)' ng-disabled="quizAnswer">
	                        <label for="{{$index}}_anwser_3" ng-bind-html="answerList[$index][3].display"></label>
	                    </div>
	                </div>
	            </form>
			</div>

			<div ng-if="selectedQuiz == 'quiz1'" ng-show="quizAnswer" class="quiz-feedback-container" ng-bind-html="questionList[$index].feedback"></div>
		</div>

	</section>
</div>

<footer>
    <div class="container-wrapper">
        <div class="logo-block">
            <a href="https://www.nowaera.pl/" target="_blank" class="footer-logo"><img src="img/ne-logo-bw.png" alt="nowa era"></a>
            <div class="footer-text">
                © Copyright by Nowa Era Sp. z o.o. 2017<br>
                Wszelkie prawa zastrzeżone.
            </div>
            <div class="footer-menu">
                <ul>
                    <li><a ng-href="#/kontakt">KONTAKT</a></li>
                    <li><a ng-href="#/copyright">COPYRIGHT</a></li>
                    <li><a ng-href="#/cookies-polityka">POLITYKA COOKIES</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>