<header>
    <div class="custom-header-wrapper quizactive"> 
        <div class="container-wrapper">
            <nav class="custom-tab-container">
                <a ng-href="#/home" ng-mouseenter="logoTrigger = !logoTrigger" ng-mouseleave="logoTrigger = !logoTrigger">
                    <div ng-hide="isPhone" class="logo-header">
                        <img ng-show="logoTrigger" src="img/header-logo-big.png" alt="nowa era" />
                        <img ng-show="!logoTrigger" src="img/header-logo-big-hover.png" alt="nowa era" />
                    </div>
                    <div ng-show="isPhone" class="logo-header logo-header-small">
                        <img ng-show="!logoTrigger" src="img/header-logo.png" alt="nowa era" />
                        <img ng-show="logoTrigger" src="img/header-logo-hover.png" alt="nowa era" />
                    </div>
                </a>
            </nav>
        </div>
    </div>
</header>

<div class="container-wrapper tut-nav-wrapper listSearchBox-wrapper" ng-show="tutStarted">
    <div class="filter-button" ng-click="endTutorial()">
        <div class="filter-button-container"><div class="filter-button-text text-center">zmień pierwiastek</div></div>
    </div>
    <div class="searchBox-wrapper searchBox-highlighter">
        <input class="dropdown-list-container" type="text" ng-model="searchBox" ng-model-options="{ debounce: 200 }" ng-blur="closeTutList()" ng-click="toggleTutList();" readonly="readonly" arrow-tutorial>
        <p ng-show="defDisplayText">Wybierz zagadnienie…</p>
        <p ng-hide="defDisplayText" ng-bind-html="tooltipData[currSlide].title">{{tooltipData[currSlide].title}}</p>
        <div class="search-icon-container">
            <div class="icon-sheet arrow-down" ng-show="!listTutTrigger"></div>
            <div class="icon-sheet arrow-up" ng-show="listTutTrigger"></div>
        </div>
        <ol class="dropdown-list" ng-if="listTutTrigger">
            <li ng-repeat="tile in tooltipData | filter: searchBox" 
                ng-mobile-click="setCurrSlide($index, 0)" 
                ng-mousedown="setCurrSlide($index, 0)" 
                ng-class="{active: currSlide == $index, currHighlighted: currSlide == $index }"
                ng-bind-html="tile.title">
            </li>
        </ol>
    </div>
</div>

<div class="container-wrapper tutorial-wrapper" ng-class="{tutStarted: tutStarted}">
    <div class="pos-relative">
        <div tutorial-zoom-view></div>
        <div class="layout-wrapper layout-wrapper-default">
        	<table>
                <tr>
                    <td></td>
                    <td class="ne_P_grupa pos-relative">
                        <span ng-class="{tuthighlight: tilesData[selectedElem].grupa == 1 && ((currSlide == 1) || (currSlide == 8))}">1</span>
                    </td>
                    <td colspan="8"></td>
                    <td class="ne_P_grupa pos-relative">
                        <span ng-class="{tuthighlight: tilesData[selectedElem].grupa == 18 && ((currSlide == 1) || (currSlide == 8))}">18</span>
                    </td>
                </tr>
                <tr>
                    <td class="ne_P_okres pos-relative">
                        <span ng-class="{tuthighlight: tilesData[selectedElem].okres == 1 && ((currSlide == 0) || (currSlide == 7))}">1</span>
                    </td>
                    <td data-id="0" tile-tutorial></td>
                    <td class="ne_P_grupa pos-relative">
                        <span ng-class="{tuthighlight: tilesData[selectedElem].grupa == 2 && ((currSlide == 1) || (currSlide == 8))}">2</span>
                    </td>
                    <td class="left-gap"></td>
                    <td class="right-gap"></td>
                    <td class="ne_P_grupa pos-relative">
                        <span ng-class="{tuthighlight: tilesData[selectedElem].grupa == 13 && ((currSlide == 1) || (currSlide == 8))}">13</span>
                    </td>
                    <td class="ne_P_grupa pos-relative">
                        <span ng-class="{tuthighlight: tilesData[selectedElem].grupa == 14 && ((currSlide == 1) || (currSlide == 8))}">14</span>
                    </td>
                    <td class="ne_P_grupa pos-relative">
                        <span ng-class="{tuthighlight: tilesData[selectedElem].grupa == 15 && ((currSlide == 1) || (currSlide == 8))}">15</span>
                    </td>
                    <td class="ne_P_grupa pos-relative">
                        <span ng-class="{tuthighlight: tilesData[selectedElem].grupa == 16 && ((currSlide == 1) || (currSlide == 8))}">16</span>
                    </td>
                    <td class="ne_P_grupa pos-relative">
                        <span ng-class="{tuthighlight: tilesData[selectedElem].grupa == 17 && ((currSlide == 1) || (currSlide == 8))}">17</span>
                    </td>
                    <td data-id="1" tile-tutorial></td>
                </tr>
                <tr>
                    <td class="ne_P_okres pos-relative">
                        <span ng-class="{tuthighlight: tilesData[selectedElem].okres == 2 && ((currSlide == 0) || (currSlide == 7))}">2</span>
                    </td>
                    <td data-id="2" tile-tutorial></td>
                    <td data-id="3" tile-tutorial></td>
                    <td class="left-gap"></td>
                    <td class="right-gap"></td>
                    <td data-id="4" tile-tutorial></td>
                    <td data-id="5" tile-tutorial></td>
                    <td data-id="6" tile-tutorial></td>
                    <td data-id="7" tile-tutorial></td>
                    <td data-id="8" tile-tutorial></td>
                    <td data-id="9" tile-tutorial></td>
                </tr>
                <tr>
                    <td class="ne_P_okres pos-relative">
                        <span ng-class="{tuthighlight: tilesData[selectedElem].okres == 3 && ((currSlide == 0) || (currSlide == 7))}">3</span>
                    </td>
                    <td data-id="10" tile-tutorial></td>
                    <td data-id="11" tile-tutorial></td>
                    <td class="left-gap"></td>
                    <td class="right-gap"></td>
                    <td data-id="12" tile-tutorial></td>
                    <td data-id="13" tile-tutorial></td>
                    <td data-id="14" tile-tutorial></td>
                    <td data-id="15" tile-tutorial></td>
                    <td data-id="16" tile-tutorial></td>
                    <td data-id="17" tile-tutorial></td>
                </tr>
                <tr>
                    <td class="ne_P_okres pos-relative">
                        <span ng-class="{tuthighlight: tilesData[selectedElem].okres == 4 && ((currSlide == 0) || (currSlide == 7))}">4</span>
                    </td>
                    <td data-id="18" tile-tutorial></td>
                    <td data-id="19" tile-tutorial></td>
                    <td class="ne_P_grupa" colspan="2">
                        <span>3 &#8211; 12</span>
                    </td>
                    <td data-id="30" tile-tutorial></td>
                    <td data-id="31" tile-tutorial></td>
                    <td data-id="32" tile-tutorial></td>
                    <td data-id="33" tile-tutorial></td>
                    <td data-id="34" tile-tutorial></td>
                    <td data-id="35" tile-tutorial></td>
                </tr>
                <tr>
                    <td class="ne_P_okres pos-relative">
                        <span ng-class="{tuthighlight: tilesData[selectedElem].okres == 5 && ((currSlide == 0) || (currSlide == 7))}">5</span>
                    </td>
                    <td data-id="36" tile-tutorial></td>
                    <td data-id="37" tile-tutorial></td>
                    <td class="left-gap"></td>
                    <td class="right-gap"></td>
                    <td data-id="48" tile-tutorial></td>
                    <td data-id="49" tile-tutorial></td>
                    <td data-id="50" tile-tutorial></td>
                    <td data-id="51" tile-tutorial></td>
                    <td data-id="52" tile-tutorial></td>
                    <td data-id="53" tile-tutorial></td>
                </tr>
                <tr>
                    <td class="ne_P_okres pos-relative">
                        <span ng-class="{tuthighlight: tilesData[selectedElem].okres == 6 && ((currSlide == 0) || (currSlide == 7))}">6</span>
                    </td>
                    <td data-id="54" tile-tutorial></td>
                    <td data-id="55" tile-tutorial></td>
                    <td class="left-gap"></td>
                    <td class="right-gap"></td>
                    <td data-id="80" tile-tutorial></td>
                    <td data-id="81" tile-tutorial></td>
                    <td data-id="82" tile-tutorial></td>
                    <td data-id="83" tile-tutorial></td>
                    <td data-id="84" tile-tutorial></td>
                    <td data-id="85" tile-tutorial></td>
                </tr>
                <tr>
                    <td class="ne_P_okres pos-relative">
                        <span ng-class="{tuthighlight: tilesData[selectedElem].okres == 7 && ((currSlide == 0) || (currSlide == 7))}">7</span>
                    </td>
                    <td data-id="86" tile-tutorial></td>
                    <td data-id="87" tile-tutorial></td>
                    <td class="left-gap"></td>
                    <td class="right-gap"></td>
                    <td data-id="112" tile-tutorial></td>
                    <td data-id="113" tile-tutorial></td>
                    <td data-id="114" tile-tutorial></td>
                    <td data-id="115" tile-tutorial></td>
                    <td data-id="116" tile-tutorial></td>
                    <td data-id="117" tile-tutorial></td>
                </tr>
                 <tr class="ne-bottom-row">
                    <td colspan="21"></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<footer>
    <div class="container-wrapper">
        <div class="logo-block">
            <a href="https://www.nowaera.pl/" target="_blank" class="footer-logo"><img src="img/ne-logo-bw.png" alt="nowa era"></a>
            <div class="footer-text">
                © Copyright by Nowa Era Sp. z o.o. 2017<br>
                Wszelkie prawa zastrzeżone.
            </div>
            <div class="footer-menu">
                <ul>
                    <li><a ng-href="#/kontakt">KONTAKT</a></li>
                    <li><a ng-href="#/copyright">COPYRIGHT</a></li>
                    <li><a ng-href="#/cookies-polityka">POLITYKA COOKIES</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>