<header>
    <div class="custom-header-wrapper"> 
        <div class="container-wrapper">
            <nav class="custom-tab-container">
            	<a ng-href="#/home" ng-mouseenter="logoTrigger = !logoTrigger" ng-mouseleave="logoTrigger = !logoTrigger">
                    <div class="logo-header">
                        <img ng-show="logoTrigger" src="img/header-logo-big.png" alt="nowa era" />
                        <img ng-show="!logoTrigger" src="img/header-logo-big-hover.png" alt="nowa era" />
                    </div>
                    <div class="logo-header logo-header-small">
                        <img ng-show="!logoTrigger" src="img/header-logo.png" alt="nowa era" />
                        <img ng-show="logoTrigger" src="img/header-logo-hover.png" alt="nowa era" />
                    </div>
                </a>
                <span>
                    <a ng-href="#/forma/{{layoutSwitch}}" class="custom-tab-link" ng-class="{ 'is-active': isActive('uklad') }" ng-hide="isPhone"><div ng-click="setTab('uklad')"><div class="icon-sheet period"></div><div class="tab-text">Układ okresowy</div></div></a>
                    <a ng-href="#/porownywarka" class="custom-tab-link" ng-class="{ 'is-active': isActive('compare') }"><div ng-click="setTab('compare')"><div class="icon-sheet compare"></div><div class="tab-text">Porównaj pierwiastki</div></div></a>
                </span>
            </nav>
        </div>
    </div>
</header>

<div class="bottom-margin-normal doNotPrint">
    <div filter-menu></div>
    <div class="container-wrapper pos-relative">
        <div class="filter-button" ng-click="filterTriggerChange()">
            <div class="filter-button-container" ng-show="!filterTrigger"><div class="filter-button-text">opcje wyświetlania</div><div class="icon-sheet arrow-down filter-button-icon"></div></div>
            <div class="filter-button-container" ng-show="filterTrigger"><div class="filter-button-text">opcje wyświetlania</div><div class="icon-sheet arrow-up filter-button-icon"></div></div>
        </div>
         <div class="print-wrapper">
            <a href="javascript:window.print()" class="print-button">
                drukuj
                <div class="icon-sheet iconPrint"></div>
            </a>
        </div>
        <div class="searchBox-wrapper searchBox-highlighter" ng-controller="TileController">
            <input type="text" ng-model="searchBox" ng-model-options="{ debounce: 200 }" ng-change="selectedItem = 0" ng-blur="closeList()" ng-mobile-click="openList();" ng-mousedown="openList();" placeholder="Szukaj..." maxlength="10" arrow-selector>
            <div class="search-icon-container"><div class="icon-sheet search-icon"></div></div>
            <ol class="dropdown-list" ng-if="listTrigger">
                <li ng-repeat="tile in tilesData | filter: compareSearch" 
                    ng-mobile-click="selectElement(tile.a_number - 1)" 
                    ng-mousedown="selectElement(tile.a_number - 1)" 
                    ng-class="{currHighlighted: $index == selectedItem }">
                    <div class="table">
                        <div class="row">
                            <div class="cell symbol">{{tile.symbol}}</div>
                            <div class="cell">{{tile.name}}</div>
                        </div>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="container-wrapper print-title-wrapper">
    <p class="print-subtitle">&nbsp;</p>
</div>
<div zoom-view class="bottom-margin-normal"></div>

<div class="layout-wrapper container-wrapper top-margin-normal" ng-if="!isPhone">
	<table class="layout-vertical-wrapper">
	    <tr>
	    	<td class="ne_P_gap"></td>
	    	<td></td>
	        <td class="ne_P_shell">1<em>s</em></td>
	        <td class="ne_P_shell">2<em>s</em></td>
	        <td class="ne_P_shell">2<em>p</em></td>
	        <td class="ne_P_shell">3<em>s</em></td>
	        <td class="ne_P_shell">3<em>p</em></td>
	        <td class="ne_P_shell">4<em>s</em></td>
	        <td class="ne_P_shell">3<em>d</em></td>
	        <td class="ne_P_shell">4<em>p</em></td>
	        <td class="ne_P_shell">5<em>s</em></td>
	        <td class="ne_P_shell">4<em>d</em></td>
	        <td class="ne_P_shell">5<em>p</em></td>
	        <td class="ne_P_shell">6<em>s</em></td>
	        <td class="ne_P_shell">4<em>f</em></td>
	        <td class="ne_P_shell">5<em>d</em></td>
	        <td class="ne_P_shell">6<em>p</em></td>
	        <td class="ne_P_shell">7<em>s</em></td>
	        <td class="ne_P_shell">5<em>f</em></td>
	        <td class="ne_P_shell">6<em>d</em></td>
	        <td class="ne_P_shell">7<em>p</em></td>
	    </tr>
	    <tr>
	    	<td class="ne_P_gap">
	    		<span tooltips tooltip-side="right" tooltip-template="liczba elektron&oacute;w na ostatniej &lt;strong&gt;podpowłoce elektronowej&lt;/strong&gt;"><span class="tooltip-icon icon-sheet tooltip-btn"></span></span>
	    	</td>
	    	<td class="ne_P_outer_shell">1</td>
	        <td data-id="0" tile-layout></td>
	        <td data-id="2" tile-layout></td>
	        <td data-id="4" tile-layout></td>
	        <td data-id="10" tile-layout></td>
	        <td data-id="12" tile-layout></td>
	        <td data-id="18" tile-layout></td>
	        <td data-id="20" tile-layout></td>
	        <td data-id="30" tile-layout></td>
	        <td data-id="36" tile-layout></td>
	        <td data-id="38" tile-layout></td>
	        <td data-id="48" tile-layout></td>
	        <td data-id="54" tile-layout></td>
	        <td data-id="56" tile-layout></td>
	        <td data-id="70" tile-layout></td>
	        <td data-id="80" tile-layout></td>
	        <td data-id="86" tile-layout></td>
	        <td data-id="88" tile-layout></td>
	        <td data-id="102" tile-layout></td>
	        <td data-id="112" tile-layout></td>
	    </tr>
	    <tr>
	    	<td class="ne_P_gap"></td>
	    	<td class="ne_P_outer_shell">2</td>
	        <td data-id="1" tile-layout></td>
	        <td data-id="3" tile-layout></td>
	        <td data-id="5" tile-layout></td>
	        <td data-id="11" tile-layout></td>
	        <td data-id="13" tile-layout></td>
	        <td data-id="19" tile-layout></td>
	        <td data-id="21" tile-layout></td>
	        <td data-id="31" tile-layout></td>
	        <td data-id="37" tile-layout></td>
	        <td data-id="39" tile-layout></td>
	        <td data-id="49" tile-layout></td>
	        <td data-id="55" tile-layout></td>
	        <td data-id="57" tile-layout></td>
	        <td data-id="71" tile-layout></td>
	        <td data-id="81" tile-layout></td>
	        <td data-id="87" tile-layout></td>
	        <td data-id="89" tile-layout></td>
	        <td data-id="103" tile-layout></td>
	        <td data-id="113" tile-layout></td>
	    </tr>
	    <tr>
	    	<td class="ne_P_gap"></td>
	    	<td class="ne_P_outer_shell">3</td>
	        <td></td>
	        <td></td>
	        <td data-id="6" tile-layout></td>
	        <td></td>
	        <td data-id="14" tile-layout></td>
	        <td></td>
	        <td data-id="22" tile-layout></td>
	        <td data-id="32" tile-layout></td>
	        <td></td>
	        <td data-id="40" tile-layout></td>
	        <td data-id="50" tile-layout></td>
	        <td></td>
	        <td data-id="58" tile-layout></td>
	        <td data-id="72" tile-layout></td>
	        <td data-id="82" tile-layout></td>
	        <td></td>
	        <td data-id="90" tile-layout></td>
	        <td data-id="104" tile-layout></td>
	        <td data-id="114" tile-layout></td>
	    </tr>
	    <tr>
	    	<td class="ne_P_gap"></td>
	    	<td class="ne_P_outer_shell">4</td>
	        <td></td>
	        <td></td>
	        <td data-id="7" tile-layout></td>
	        <td></td>
	        <td data-id="15" tile-layout></td>
	        <td></td>
	        <td data-id="23" tile-layout></td>
	        <td data-id="33" tile-layout></td>
	        <td></td>
	        <td data-id="41" tile-layout></td>
	        <td data-id="51" tile-layout></td>
	        <td></td>
	        <td data-id="59" tile-layout></td>
	        <td data-id="73" tile-layout></td>
	        <td data-id="83" tile-layout></td>
	        <td></td>
	        <td data-id="91" tile-layout></td>
	        <td data-id="105" tile-layout></td>
	        <td data-id="115" tile-layout></td>
	    </tr>
	    <tr>
	    	<td class="ne_P_gap"></td>
	    	<td class="ne_P_outer_shell">5</td>
	        <td></td>
	        <td></td>
	        <td data-id="8" tile-layout></td>
	        <td></td>
	        <td data-id="16" tile-layout></td>
	        <td></td>
	        <td data-id="24" tile-layout></td>
	        <td data-id="34" tile-layout></td>
	        <td></td>
	        <td data-id="42" tile-layout></td>
	        <td data-id="52" tile-layout></td>
	        <td></td>
	        <td data-id="60" tile-layout></td>
	        <td data-id="74" tile-layout></td>
	        <td data-id="84" tile-layout></td>
	        <td></td>
	        <td data-id="92" tile-layout></td>
	        <td data-id="106" tile-layout></td>
	        <td data-id="116" tile-layout></td>
	    </tr>
	    <tr>
	    	<td class="ne_P_gap"></td>
	    	<td class="ne_P_outer_shell">6</td>
	        <td></td>
	        <td></td>
	        <td data-id="9" tile-layout></td>
	        <td></td>
	        <td data-id="17" tile-layout></td>
	        <td></td>
	        <td data-id="25" tile-layout></td>
	        <td data-id="35" tile-layout></td>
	        <td></td>
	        <td data-id="43" tile-layout></td>
	        <td data-id="53" tile-layout></td>
	        <td></td>
	        <td data-id="61" tile-layout></td>
	        <td data-id="75" tile-layout></td>
	        <td data-id="85" tile-layout></td>
	        <td></td>
	        <td data-id="93" tile-layout></td>
	        <td data-id="107" tile-layout></td>
	        <td data-id="117" tile-layout></td>
	    </tr>
	    <tr>
	    	<td class="ne_P_gap"></td>
	    	<td class="ne_P_outer_shell">7</td>
	        <td colspan="6"></td>
	        <td data-id="26" tile-layout></td>
	        <td></td>
	        <td></td>
	        <td data-id="44" tile-layout></td>
	        <td></td>
	        <td></td>
	        <td data-id="62" tile-layout></td>
	        <td data-id="76" tile-layout></td>
	        <td></td>
	        <td></td>
	        <td data-id="94" tile-layout></td>
	        <td data-id="108" tile-layout></td>
	        <td></td>
	    </tr>
	    <tr>
	    	<td class="ne_P_gap"></td>
	    	<td class="ne_P_outer_shell">8</td>
	        <td colspan="6"></td>
	        <td data-id="27" tile-layout></td>
	        <td></td>
	        <td></td>
	        <td data-id="45" tile-layout></td>
	        <td></td>
	        <td></td>
	        <td data-id="63" tile-layout></td>
	        <td data-id="77" tile-layout></td>
	        <td></td>
	        <td></td>
	        <td data-id="95" tile-layout></td>
	        <td data-id="109" tile-layout></td>
	        <td></td>
	    </tr>
	    <tr>
	    	<td class="ne_P_gap"></td>
	    	<td class="ne_P_outer_shell">9</td>
	        <td colspan="6"></td>
	        <td data-id="28" tile-layout></td>
	        <td></td>
	        <td></td>
	        <td data-id="46" tile-layout></td>
	        <td></td>
	        <td></td>
	        <td data-id="64" tile-layout></td>
	        <td data-id="78" tile-layout></td>
	        <td></td>
	        <td></td>
	        <td data-id="96" tile-layout></td>
	        <td data-id="110" tile-layout></td>
	        <td></td>
	    </tr>
	    <tr>
	    	<td class="ne_P_gap"></td>
	    	<td class="ne_P_outer_shell">10</td>
	        <td colspan="6"></td>
	        <td data-id="29" tile-layout></td>
	        <td></td>
	        <td></td>
	        <td data-id="47" tile-layout></td>
	        <td></td>
	        <td></td>
	        <td data-id="65" tile-layout></td>
	        <td data-id="79" tile-layout></td>
	        <td></td>
	        <td></td>
	        <td data-id="97" tile-layout></td>
	        <td data-id="111" tile-layout></td>
	        <td></td>
	    </tr>
	    <tr>
	    	<td class="ne_P_gap"></td>
	    	<td class="ne_P_outer_shell">11</td>
	        <td colspan="12">
	        	<!--div zoom-view ng-show="isDesktop"></div-->
	        </td>
	    	<!--td class="ne_P_outer_shell">11</td-->
	        <td data-id="66" tile-layout></td>
	        <td></td>
	        <td></td>
	        <td></td>
	        <td data-id="98" tile-layout></td>
	        <td></td>
	        <td></td>
	    </tr>
	    <tr>
	    	<td class="ne_P_gap"></td>
	    	<td class="ne_P_outer_shell">12</td>
	        <!--td colspan="12"></td-->
	        <!--td class="ne_P_outer_shell">12</td-->
	        <td colspan="12"></td>
	        <td data-id="67" tile-layout></td>
	        <td></td>
	        <td></td>
	        <td></td>
	        <td data-id="99" tile-layout></td>
	        <td colspan="2"></td>
	    </tr>
	    <tr>
	    	<td class="ne_P_gap"></td>
	    	<td class="ne_P_outer_shell">13</td>
	        <!--td colspan="12"></td-->
	        <!--td class="ne_P_outer_shell">13</td-->
	        <td colspan="12"></td>
	        <td data-id="68" tile-layout></td>
	        <td colspan="3"></td>
	        <td data-id="100" tile-layout></td>
	        <td colspan="2"></td>
	    </tr>
	    <tr>
	    	<td class="ne_P_gap"></td>
	    	<td class="ne_P_outer_shell">14</td>
	        <!--td colspan="12"></td-->
	        <!--td class="ne_P_outer_shell">14</td-->
	        <td colspan="12"></td>
	        <td data-id="69" tile-layout></td>
	        <td colspan="3"></td>
	        <td data-id="101" tile-layout></td>
	        <td colspan="2"></td>
	    </tr>
        <tr class="ne-bottom-row">
            <td colspan="21">&nbsp;</td>
        </tr>
        <tr class="ne-bottom-row">
            <td colspan="21">&nbsp;</td>
        </tr>
	</table>

</div>

<div class="legend-container-wrapper container-wrapper doNotPrint" ng-show="isState || isMetal || isRoyal || isBlok">
    <div class="legend-cell-container" ng-show="isMetal">
        <div class="legend-cell">
            <div class="legend-wrapper isNotMetal">&shy;</div>
            <div class="legend-caption">metale</div>
        </div>
        <div class="legend-cell">
            <div class="legend-wrapper isMetal">&shy;</div>
            <div class="legend-caption">niemetale</div>
        </div>
    </div>
    <div class="legend-cell-container" ng-show="isBlok">
        <div class="legend-cell">
            <div class="legend-wrapper blokS">&shy;</div>
            <div class="legend-caption">blok <em>s</em></div>
        </div>
        <div class="legend-cell">
            <div class="legend-wrapper blokP">&shy;</div>
            <div class="legend-caption">blok <em>p</em></div>
        </div>
    </div>
    <div class="legend-cell-container" ng-show="isBlok">
        <div class="legend-cell">
            <div class="legend-wrapper blokD">&shy;</div>
            <div class="legend-caption">blok <em>d</em></div>
        </div>
        <div class="legend-cell">
            <div class="legend-wrapper blokF">&shy;</div>
            <div class="legend-caption">blok <em>f</em></div>
        </div>
    </div>
    <div class="legend-cell-container" ng-show="isState">
        <div class="legend-cell">
            <div class="legend-wrapper liquid-wrapper">&shy;</div>
            <div class="legend-caption">ciecze</div>
        </div>
        <div class="legend-cell">
            <div class="legend-wrapper gas-wrapper">&shy;</div>
            <div class="legend-caption">gazy</div>
        </div>
    </div>
    <div class="legend-cell-container" ng-show="isRoyal">
        <div class="legend-cell">
            <div class="legend-wrapper royal-wrapper">&shy;</div>
            <div class="legend-caption">gazy szlachetne</div>
        </div>
    </div>
    <div class="form-wrapper-clear"></div>
</div>

<div class="container-wrapper onlyPrint">
     <div class="legend-container-wrapper print-legend-wrapper">
        <div class="legend-cell" ng-show="isMetal">
            <div class="legend-wrapper isNotMetal">&shy;</div>
            <div class="legend-caption">metale</div>
        </div>
        <div class="legend-cell" ng-show="isMetal">
            <div class="legend-wrapper isMetal">&shy;</div>
            <div class="legend-caption">niemetale</div>
        </div>
        <div class="legend-cell" ng-show="isState">
            <div class="legend-wrapper liquid-wrapper">&shy;</div>
            <div class="legend-caption">ciecze</div>
        </div>
        <div class="legend-cell" ng-show="isState">
            <div class="legend-wrapper gas-wrapper">&shy;</div>
            <div class="legend-caption">gazy</div>
        </div>
        <div class="legend-cell" ng-show="isRoyal">
            <div class="legend-wrapper royal-wrapper">&shy;</div>
            <div class="legend-caption">gazy szlachetne</div>
        </div>
    </div>
</div>

<footer>
    <div class="container-wrapper">
        <div class="logo-block">
            <a href="https://www.nowaera.pl/" target="_blank" class="footer-logo"><img src="img/ne-logo-bw.png" alt="nowa era"></a>
            <div class="footer-text">
                © Copyright by Nowa Era Sp. z o.o. 2017<br>
                Wszelkie prawa zastrzeżone.
            </div>
            <div class="footer-menu">
                <ul>
                    <li><a ng-href="#/kontakt">KONTAKT</a></li>
                    <li><a ng-href="#/copyright">COPYRIGHT</a></li>
                    <li><a ng-href="#/cookies-polityka">POLITYKA COOKIES</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>