<div class="container-wrapper doNotPrint">
    <div class="table details-header-wrapper">
        <div class="row">
            <div class="cell">
                <a ng-href="#/forma/{{layoutSwitch}}" ng-hide="isPhone">
                    <div class="table back-btn">
                        <div class="row">
                            <div class="filter-button cell" ng-click="setTab('uklad')">
                               <div class="icon-sheet arrow-left"></div>
                            </div>
                            <div class="cell btn-caption">wróć do układu okresowego<br />pierwiastków chemicznych</div>
                        </div>
                    </div>
                </a>
                <a href="#/phone" ng-hide="!isPhone">
                    <div class="table back-btn">
                        <div class="row">
                            <div class="filter-button cell" ng-click="setTab('uklad')">
                               <div class="icon-sheet arrow-left"></div>
                            </div>
                            <div class="cell btn-caption">wróć do<br />układu okresowego</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="cell print-icon-cell">
                <div class="print-wrapper details-print-button">
                    <a href="javascript:window.print()" class="print-button">
                        drukuj
                        <div class="icon-sheet iconPrint"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-wrapper">
    <div class="details-wrapper">
        <div class="row-wrapper">
            <div class="table">
                <div class="row">
                    <div class="cell desc-holder">
                        <div class="tile-holder">
                            <div class="group-wrapper">{{(element.grupa | num) || ""}}</div>
                            <div class="elem-wrapper">
                                <div class="tile-wrapper">
                                    <div class="symbol-num-wrapper">
                                        <span class="atom-num-wrapper">{{element.a_number}}</span>
                                        <span class="symbol-wrapper">{{element.symbol}}</span>
                                    </div>
                                    <div>
                                        <div class="name-wrapper">{{element.name}}</div>
                                        <div class="atom-mass-wrapper">{{element.a_mass}}</div>
                                    </div>
                                </div>
                                <div class="okres-wrapper">{{element.okres}}</div>
                            </div>
                        </div>
                        <div class="element-box">
                            <ul ng-class="{'show': showCharacteristic}">
                                <li><strong>Nazwa:</strong> {{element.name}}</li>
                                <li><strong>Czas odkrycia:</strong> {{element.year}}</li>
                                <li ng-hide="true"><strong>Wartościowość:</strong> {{element.valence}}</li>
                                <li><strong>Stopnie utlenienia:</strong><br ng-show="element.a_number == 7 || element.a_number == 17 || element.a_number == 26 || element.a_number == 35 || element.a_number == 53 || element.a_number == 75" /> {{element.oxidation}}</li>
                                <li class="onlyPrint"><strong>Protony:</strong> {{element.a_number}}, <strong>Neutrony:</strong> {{element.mass_number - element.a_number}}, <strong>Elektrony:</strong> {{element.a_number}}</li>
                                <li class="onlyPrint"><strong>Rozmieszczenie elektronów: </strong><span ng-repeat="item in shellDistribution"><em>{{item.name}}</em><sup>{{item.index}}</sup>&nbsp;</span></li>
                                <li class="onlyPrint" ng-hide='element.electronegativity == "-"'><strong>Elektroujemność wg Paulinga:</strong> {{element.electronegativity}}</li>
                                <li class="onlyPrint" ng-hide='element.atom_radius == "-"'><strong>Promień atomowy:</strong> {{element.atom_radius}} pm</li>
                            </ul>
                        </div>
                    </div>
                    <div class="cell onlyPrintFF">
                        <div atom-structure></div>
                    </div>
                    <div class="cell preview-holder">
                        <div preview-view ng-hide="isPhone"></div>
                        <div class="searchBox-wrapper" ng-controller="TileController" ng-show="isPhone">
                            <input type="text" ng-model="searchBox" ng-model-options="{ debounce: 200 }" ng-change="selectedItem = 0" ng-blur="closeList()" ng-mobile-click="openList();" ng-mousedown="openList();" placeholder="Szukaj..." maxlength="10" arrow-selector>
                            <div class="search-icon-container"><div class="icon-sheet search-icon"></div></div>
                            <ol class="dropdown-list" ng-if="listTrigger">
                                <li ng-repeat="tile in tilesData | filter: compareSearch" 
                                    ng-mobile-click="changeSelected(tile.a_number - 1)" 
                                    ng-mousedown="changeSelected(tile.a_number - 1)" 
                                    ng-class="{currHighlighted: $index == selectedItem }">
                                    <div class="table">
                                        <div class="row">
                                            <div class="cell symbol">{{tile.symbol}}</div>
                                            <div class="cell">{{tile.name}}</div>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="element-img doNotPrint" ng-if="currId == 5 || currId == 12 || currId == 34 || currId == 16 || currId == 49 || currId == 14 || currId == 52 || currId == 28 || currId == 18 || currId == 79 || currId == 15 || currId == 10 || currId == 19 || currId == 78">
                <img class="center-horizontal" ng-src="img/{{element.name | latinize}}.jpg" alt="{{element.name}}" title="{{element.name}}" />
            </div>
        </div>

        <section class="doNotPrint">
             <div class="table">
                <div class="row">
                    <div class="cell element-box">
                        <h3 class="details-row">Budowa atomu</h3>
                        <div class="table">
                            <div class="row">
                                <div class="cell left-part element-box">
                                    <div atom-structure></div>
                                    <div class="model-caption"><p>model</p></div>
                                </div> 
                                <div class="cell element-box">
                                    <ul ng-class="{'show': showAtomDesign}">
                                        <li>
                                            <strong>Protony:</strong> {{element.a_number}}
                                        </li>
                                        <li>
                                            <strong>Neutrony:</strong> {{element.mass_number - element.a_number}}
                                        </li>
                                        <li>
                                            <strong>Elektrony:</strong> {{element.a_number}}
                                        </li>
                                        <li>
                                            <strong>Rozmieszczenie elektronów:</strong>
                                            <span ng-repeat="item in shellDistribution"><em>{{item.name}}</em><sup>{{item.index}}</sup>&nbsp;</span>
                                        </li>
                                        <li ng-hide='element.electronegativity == "-"'><strong>Elektroujemność wg Paulinga:</strong> {{element.electronegativity}}</li>
                                        <li ng-hide='element.atom_radius == "-"'><strong>Promień atomowy:</strong> {{element.atom_radius}} pm</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell element-box" ng-show="isDesktop" ng-if="currId == 5 || currId == 12 || currId == 34 || currId == 16 || currId == 49 || currId == 14 || currId == 52 || currId == 28 || currId == 18 || currId == 79 || currId == 15 || currId == 10 || currId == 19 || currId == 78" style="width: 24.5rem;">
                        <img class="" ng-src="img/{{element.name | latinize}}.jpg" alt="{{element.name}}" title="{{element.name}}" title="{{element.name}}" style="width: 100%" />
                    </div>
                </div>
            </div>
        </section>

        <section> 
            <div class="table">
                <div class="row">
                    <div class="cell element-box details-properties" ng-if="element.phisical_properties.length > 0" >
                        <h3 class="details-row">Właściwości fizyczne</h3>
                        <ul ng-class="{'show': showPhisicalProps}">
                            <li class="show-list-style" ng-repeat="item in element.phisical_properties" ng-bind-html="item">{{item}}</li>
                        </ul>
                    </div>
                    <div class="cell element-box details-properties" ng-if="element.chemical_properties.length > 0">
                        <h3 class="details-row">Właściwości chemiczne</h3>
                        <ul ng-class="{'show': showChemicalProps}">
                            <li class="show-list-style" ng-repeat="item in element.chemical_properties" ng-bind-html="item">{{item}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="doNotPrint">
            <section ng-if="element.receiving.length > 0">
                <div class="details-row">
                    <h3>Otrzymywanie</h3>
                </div>
                <div class="element-box">
                    <ul ng-class="{'show': showReceiving}">
                        <li class="show-list-style" ng-repeat="item in element.receiving" ng-bind-html="item">{{item}}</li>
                    </ul>
                </div>
            </section>

            <section ng-if="element.chemical_reactions.length > 0">
                <div class="details-row">
                    <h3>Doświadczenia chemiczne</h3>
                </div>
                <div class="element-box">
                    <ul ng-class="{'show': showChemicalReactions}">
                        <li class="show-list-style" ng-repeat="item in element.chemical_reactions" ng-bind-html="item">{{item}}</li>
                    </ul>
                </div>
            </section>

             <section ng-if="element.allotropy.length > 0">
                <div class="details-row">
                    <h3>Odmiany alotropowe</h3>
                </div>
                <div class="element-box">
                    <ul ng-class="{'show': showAllotropy}">
                        <li class="show-list-style" ng-repeat="item in element.allotropy" ng-bind-html="item">{{item}}</li>
                    </ul>
                </div>
            </section>

            <section ng-if="element.purpose.length > 0">
                <div class="details-row">
                    <h3>Zastosowania</h3>
                </div>
                <div class="table">
                    <div class="row">
                        <div class="cell element-box details-properties">
                            <ul ng-class="{'show': showPurpose}">
                                <li class="show-list-style" ng-repeat="item in element.purpose" ng-bind-html="item">{{item}}</li>
                            </ul>
                        </div>
                        <div class="cell element-box details-properties pos-relative slide-show-container">
                            <div class="slide-cont" ng-if="element.purpose_caption.length > 1">
                                <div ng-class="{active: showSlide == $index}" class="filter-button slide" ng-repeat="btn in element.purpose_caption" ng-click="changeSlide($index)">{{$index + 1}}</div>
                            </div>
                            <div ng-repeat="item in element.purpose_caption" ng-show="showSlide == $index" >
                                <img class="img-slide" ng-src="img/zastosowania/{{element.symbol}}_0{{$index}}.jpg" alt="{{element.name}}" />
                                <p class="slide-cap" ng-bind-html="item">{{item}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        <section class="onlyPrint">
            <section>
                <div class="table">
                    <div class="row">
                        <div class="cell element-box details-properties" ng-if="element.receiving.length > 0">
                            <h3 class="details-row">Otrzymywanie</h3>
                            <ul ng-class="{'show': showReceiving}">
                                <li class="show-list-style" ng-repeat="item in element.receiving" ng-bind-html="item">{{item}}</li>
                            </ul>
                        </div>
                        <div class="cell element-box details-properties" ng-if="element.chemical_reactions.length > 0">
                            <h3 class="details-row">Doświadczenia chemiczne</h3>
                            <ul ng-class="{'show': showChemicalReactions}">
                                <li class="show-list-style" ng-repeat="item in element.chemical_reactions" ng-bind-html="item">{{item}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="table">
                    <div class="row">
                        <div class="cell element-box details-properties" ng-if="element.purpose.length > 0">
                            <h3 class="details-row">Zastosowania</h3>
                            <ul ng-class="{'show': showPurpose}">
                                <li class="show-list-style" ng-repeat="item in element.purpose" ng-bind-html="item">{{item}}</li>
                            </ul>
                        </div>
                        <div class="cell element-box details-properties" ng-if="element.allotropy.length > 0">
                            <h3 class="details-row">Odmiany alotropowe</h3>
                            <p ng-class="{'show': showAllotropy}">
                                <span ng-repeat="item in element.allotropy">{{item}}<span ng-if="$index != (element.allotropy.length - 1)">, </span></span>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>
</div>

<footer>
    <div class="container-wrapper">
        <div class="logo-block">
            <a href="https://www.nowaera.pl/" target="_blank" class="footer-logo"><img src="img/ne-logo-bw.png" alt="nowa era"></a>
            <div class="footer-text">
                © Copyright by Nowa Era Sp. z o.o. 2017<br>
                Wszelkie prawa zastrzeżone.
            </div>
            <div class="footer-menu">
                <ul>
                    <li><a ng-href="#/kontakt">KONTAKT</a></li>
                    <li><a ng-href="#/copyright">COPYRIGHT</a></li>
                    <li><a ng-href="#/cookies-polityka">POLITYKA COOKIES</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>